.header
	height: auto
	background: transparent
	position: absolute
	width: 100%
	left: 0
	top: 0
	z-index: 2
	&.-position
		position: relative
		left: auto
		top: auto


	&__menu
		background: $red
		transition: .5s
		.menu
			min-height: 54px
