.presentation
	position: relative
	padding: 50px 0
	.container
		position: relative
		z-index: 1

	h2
		max-width: 750px
		text-align: center
		margin: 0 auto

	&__bg-vertical
		position: absolute
		top: 0
		left: 50%
		transform: translate(-50%, 0)
		width: 750px
		background: $grey_light
		min-height: 100%


	&__content
		position: relative
		text-align: center
		max-width: 950px
		margin: 0 auto
		z-index: 2
		h2
			margin-bottom: 20px

	&__wrap
		position: relative
		z-index: 1
		margin: 0 0 50px
		.circle-image
			position: absolute
			left: 50%
			bottom: 0	
			transform: translate(-50%, 0)
			width: 688px
			height: 688px
			border-radius: 50%
			overflow: hidden
			img
				width: 100%
				vertical-align: top

	&__item
		display: flex
		justify-content: space-around
		margin: 0 0 30px
		&:last-child
			margin: 0
		&.-space-between
			justify-content: space-between

