.presentation
	@media (--desktop)
		padding: 40px 0
		&__bg-vertical
			width: 51%
		&__wrap
			margin: 0 0 30px
			.circle-image
				width: 550px
				height: 550px
		&__item
			margin: 0 0 20px

	@media (--desktop-sm)
		padding: 30px 0
		&__bg-vertical
			width: 51%
		&__wrap
			margin: 0 0 30px
			.circle-image
				display: none
		&__content
			h2
				margin: 0 0 10px
		&__item
			margin: 0 0 20px
			justify-content: space-between
	@media (--tablet)
		&__wrap
			margin: 0 0 20px
		&__item
			flex-direction: column

	@media (--tablet-sm)
		padding: 20px 0
		&__content
			margin: 0 0 20px
			h2
				margin: 0 0 5px
		&__wrap
			margin: 0 0 20px
		&__item
			flex-direction: column

	@media (--mobile)
		padding: 20px 0 10px
