.articl
	@media (--desktop)
		&__content
			.image-card 
				&__info
					padding: 10px 0px 0px
		&__sidebar
			width: 260px
			padding-left: 20px
	@media (--desktop-sm)
		padding: 20px 0 40px
		&__wrap
			flex-direction: column
		&__content
			width: 100%
			margin: 0 0 20px
			.image-card 
				&__info
					padding: 5px 0px 0px
				&__info-text
					margin: 0 0 15px
					font-size: 16px
					line-height: 26px
				&__info-content
					font-size: 16px
					line-height: 26px
					p
						margin: 0 0 10px
		&__sidebar
			width: 100%
			padding-left: 0
			.row
				margin-left: -5px
				margin-right: -5px
				[class*='col-']
					padding: 0 5px
					margin: 0 0 10px
	@media (--tablet)
		padding: 20px 0 35px
	@media (--tablet-sm)
		padding: 20px 0 30px
		&__content
			.image-card 
				&__info
					padding: 5px 0px 0px
				&__info-text
					margin: 0 0 15px
					font-size: 16px
					line-height: 24px
				&__info-content
					font-size: 14px
					line-height: 22px
					p
						margin: 0 0 10px
