.articl
	position: relative

	h2
		max-width: 600px

	&__wrap
		position: relative
		display: flex
		justify-content: space-between

	&__content
		width: 71.2%

		.image-card 
			background: transparent
			&:hover
				box-shadow: none
			&__info
				padding: 25px 0px 0px
			&__info-text
				margin: 0 0 25px
			&__info-content
				font-size: 16px
				line-height: 26px
				p
					margin: 0 0 20px

	&__sidebar
		width: 340px
		flex-shrink: 0
		.row
			[class*='col-']
				margin: 0 0 20px