.question
	@media (--desktop-lg)
		&__wrap
			padding: 45px 20px
			img
				right: 10px
				width: 280px

		&__content
			max-width: 240px
			margin-right: 5px

		&__title
			font-size: 24px
			line-height: 36px
			margin: 0 0 10px

		&__text
			font-size: 16px
			line-height: 24px

		.questions-form
			max-width: 660px
	@media (--desktop)
		&__wrap
			padding: 45px 20
			img
				display: none

	@media (--desktop-sm)
		&__wrap
			padding: 45px 20px
			flex-direction: column
			img
				display: none
		&__content
			max-width: 100%
			width: 100%
			margin: 0 0 20px
		&__title
			font-size: 24px
			line-height: 32px
			margin: 0 0 5px
		.questions-form
			max-width: auto
			width: calc( 100% + 30px )
			margin-left: -15px
			textarea
				height: 118px

	@media (--tablet)
		&__wrap
			width: calc( 100% + 30px )
			margin-left: -15px
		.question__form
			width: 100%
		.questions-form
			max-width: 100%
			width: 100%
			margin-left: 0
			flex-direction: column
		.form__block
			width: 100%
			padding: 0
		.form__item-check
			margin-top: 0
			position: absolute
			bottom: 0
			left: 25px