.question
	position: relative
	padding: 30px 0

	&__wrap
		position: relative
		background: url('../images/components/main/consultation_bg.jpg') 50% 50% no-repeat
		background-size: cover
		padding: 45px
		display: flex
		justify-content: flex-start
		align-items: flex-start
		img
			display: block
			position: absolute
			right: 20px
			bottom: 0
			width: 340px

	&__content
		max-width: 320px
		margin-right: 30px

	&__title
		font-size: 30px
		font-weight: 600
		line-height: 48px
		margin: 0 0 20px

	&__text
		font-size: 18px
		font-weight: 500
		line-height: 28px

	.questions-form
		display: flex
		max-width: 680px
	.form__block
		width: 50%
		flex-shrink: 0
		padding: 0 15px
	.form__item
		margin: 0 0 10px
	.button
		width: 100%
	.form__item-check
		margin-top: 35px
		p
			color: $text-color
