.portfolio
	position: relative

	&__wrap
		display: flex
		align-items: flex-start

		.tabs
			width: 325px
			flex-shrink: 0
			padding-right: 65px
			&__item
				width: 100%
				text-align: left
				margin-bottom: 15px
				&:last-child
					margin: 0
				a
					padding: 0 15px
					font-size: 17px
		.tabs-content
			width: 1135px
			.slider-card
				width: 100%
