.portfolio
	@media (--desktop-lg)
		&__wrap
			display: flex
			align-items: flex-start

			.tabs
				width: 22.3%
				flex-shrink: 0
				padding-right: 35px
				&__item
					width: 100%
					text-align: left
					margin-bottom: 15px
					&:last-child
						margin: 0
					a
						padding: 0 15px
						font-size: 15px
			.tabs-content
				width: 77.7%
				.slider-card
					width: 100%
	@media (--desktop)
		&__wrap
			display: block

			.tabs
				position: relative
				padding: 0px 0px 40px
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				flex-direction: row
				width: auto
				&__item
					min-width: 50px
					width: auto
					flex-shrink: 0
					margin: 0 7px 15px
					text-align: center
					&:last-child
						margin: 0 7px 15px
					&
						a
							padding: 0px 25px
							font-size: 13px
							line-height: 40px
			.tabs-content
				width: 100%
				.slider-card
					width: 100%

	@media (--desktop)
		&__wrap
			.tabs
				position: relative
				padding: 0px 0px 20px
				display: flex
				flex-wrap: wrap
				justify-content: center
				flex-direction: row
				width: auto
				&__item
					min-width: 50px
					width: auto
					flex-shrink: 0
					margin: 0 7px 15px
					text-align: center

	@media (--tablet)
		&
