.button
	@media (--desktop)
		&__red
			font-size: 12px
			line-height: 30px
			min-width: 80px
	@media (--tablet)
	@media (--mobile)
		font-size: 14px
		line-height: 40px
		padding: 0 20px

		&__red
			font-size: 12px
			line-height: 30px
			min-width: 80px
