.button
	display: inline-block
	vertical-align: middle
	position: relative
	white-space: nowrap
	overflow: hidden
	background: $white
	min-width: 150px
	line-height: 60px
	padding: 0 40px
	border: none
	text-align: center
	text-transform: uppercase
	color: #fff
	font-size: 16px
	font-weight: 500
	transition: .3s

	&__shadow
		background-image: linear-gradient(to right,#eb061e,#db051b 27%,#b1060c)
		//box-shadow: 0 5px #a5050b, 0 18px 21px rgba(141, 3, 8, 0.61%)
		box-shadow: 0 5px #a5050b, 0 0px 0px rgba(141, 3, 8, 0.61%)
		border-radius: 8px
		&:hover
			transform: translate(0,3px)
			//box-shadow: 0 2px #a5050b, 0 15px 21px rgba(141, 3, 8, 0.61%)
			box-shadow: 0 2px #a5050b, 0 0px 0px rgba(141, 3, 8, 0.61%)

	&__red
		border-radius: 8px
		font-size: 14px
		line-height: 40px
		background: $red
		min-width: 100px
		padding: 0
		&:hover
			background: darken($red, 10%)
			

