extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title about Us

block append scripts
	script(src='./assets/scripts/about.js' defer)

block header
	+header(2)
	
block container
	.about
		section.section(style='background-color:#f9f9f9')
			.container
				h2 О компании
				.about__wrap
					article.about__content.about__content-text
						h4.about__title Мы осуществляем свою деятельность с 2013 г.
						p.about__text.
							За 9 лет работы мы стали надежными партнерами для огромного количества частных лиц 
							и для большинства крупных организаций Краснодарского края и соседствующих субъектов. 
							Мы сотрудничаем только с проверенными поставщиками, что гарантирует высокое качество 
							поставляемых нами товаров. Наша организация является официальным представителем таких 
							крупнейших производителей как: <span>Компании КПИ (Г. Таганрог), ГК «Алютех» (Респ.Беларусь), 
							также мы официальный дистрибьютор ООО «Херманн Руссия (Германия) и т. д.</span>
					figure.about__content-image 
						img(src="./assets/images/components/about/01.jpg", alt="image")

		section.section.brands(style='background-color:#f1f1f1')
			.container
				.brands-slider
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/01.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/02.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/03.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/04.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/05.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/01.png", alt="image")

		section.section(style='background-color:#f9f9f9')
			.container
				.about__wrap.-images
					article.about__content.about__content-list
						h4.about__title Мы предлагаем широкий ассортимент качественных изделий: 
						ul.list
							li.list__item Металлопластиковые, алюминиевые окна и двери.
							li.list__item Противопожарные двери, межкомнатные двери от эконом до премиум класса.
							li.list__item Стоечно-ригельные алюминиевые фасады.
							li.list__item.
								Роллетные системы, секционные и въездные ворота, перегрузочное оборудование 
								для организации эффективной работы складов и логистических центров (докшелтеры, 
								доклевеллеры, перегрузочные посты и площадки).
							li.list__item Разнообразные системы автоматики для промышленных, гаражных и въездных ворот.
							li.list__item Солнцезащитные системы, жалюзи и рулонные шторы.
							li.list__item Также у нас в ассортименте большой выбор автоматических шлагбаумов.
						a(href='#').link Перейти в каталог

					.about__block-image
						figure
							img(src="./assets/images/components/about/001.jpg", alt="image")
						figure
							img(src="./assets/images/components/about/002.jpg", alt="image")
						figure
							img(src="./assets/images/components/about/003.jpg", alt="image")
						figure
							img(src="./assets/images/components/about/004.jpg", alt="image")


		section.section.confidence(style='background-color:#f9f9f9')
			.container
				.confidence__wrap
					.circle-block 
						p.
							Высокое качество производства монтажных 
							работ – фирменное отличие нашей организации.

					.confidence__item.-image
						.circle-image
							img(src="./assets/images/components/main/presentation-img.png", alt="image")
					.confidence__item
						.presentation-card
							.presentation-card__text.
								Монтаж мы доверяем только профессионалам, поэтому наши сотрудники ежегодно 
								проходят обучение на предприятиях-изготовителях (Академии Rehau, Alutech, Hormann)  
								и имеют соответствующие сертификаты. 
						.presentation-card
							.presentation-card__text.
								Наши поставщики предлагают нам, а мы в свою очередь обеспечиваем своим клиентам 
								только лучшее качество продукции и услуг по самой выгодной цене.

				h2 Нам доверились такие крупные компании как:

		section.section.brands(style='background-color:#f1f1f1')
			.container
				.brands-slider
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/01.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/02.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/03.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/04.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/05.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/01.png", alt="image")
				.brands__batton
					a(href='#').button.button__shadow смотреть наши работы
				
		section.section.question
			.container
				.question__wrap
					img(src="./assets/images/components/main/consultation-img.png", alt="image")
					.question__content
						.question__title Остались вопросы?
						.question__text Заполните форму и наш менеджер ответит вам в ближайшее время
					.question__form
						form.form(action="#").questions-form
							.form__block
								.form__item
									label(for='name3').form__field
										input(type="text", placeholder="Имя" id='name3' name="name2" autocomplete="on" required="required")
								.form__item
									label(for='phone3').form__field
										input(type="tel" id='phone3' pattern="2[0-9]{3}-[0-9]{3}" name="phone3" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								.form__item.form__item-check
									input(type='checkbox' id='check3' class='' name="check3" required="required" checked)
									label(for='check2' id='check3' class='text')
										p Согласие на обработку персональных данных

							.form__block
								.form__item.form__item-textarea
									label(for='textarea3')
										textarea(placeholder='Сообщение', id='textarea3' name='textarea3', rows='3', cols='45' required="required")

								.form__item.form__item-button
									+button({
										text: 'Отправить'
									})(class="button__shadow")
							

		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst