extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title articl

block append scripts
	script(src='./assets/scripts/articl.js' defer)

block header
	+header(2)
	
block container
	
		section.articl.section.-bottom(style='background-color:#f9f9f9')
			.container
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#") Главная
					li.breadcrumbs__item
						a(href="#") Новости и акции 
					li.breadcrumbs__item.-active Ворота в корпоративном стиле для крупнейшего автосервиса
				h2 Ворота в корпоративном стиле для крупнейшего автосервиса
				.articl__wrap 
					.articl__content
						.image-card
							img(src="./assets/images/components/articl/01.png", alt="image")
							article
								.image-card__info
									.image-card__info-data 
										span 5 ноября 2021
									.image-card__info-text Специальная цена на гаражные ворота Prestige классического дизайна
									.image-card__info-content 
										p.
											Всю мощь и красоту промышленных ворот «АЛЮТЕХ» можно увидеть на объектах компании. 
											Среди них — крупнейший киевский автосервис KURATOR.UA, где недавно мы смонтировали 
											ворота ProTrend.
										p.
											Для СТО необходимо было не просто подобрать и установить конструкции, а разработать 
											дизайнерское решение в корпоративном стиле — в серых и оранжевых цветах. 
											Благодаря широким возможностям оформления ворот «АЛЮТЕХ» эта задача была 
											решена успешно и в короткие сроки: верхняя и нижняя панели были выполнены 
											в нестандартном оранжевом цвете RAL 7K 2004, а средние панели — в оттенке 
											«Серебристый металлик» (RAL 9006).
										p.
											Всего наша компания установила на объекте 5 секционных ворот серии ProTrend, 
											в том числе со встроенной калиткой. Данное решение позволяет экономить 
											рабочий ресурс конструкций: ведь для того, чтобы пройти в помещение, не 
											нужно открывать ворота целиком.
										p.
											Клиент остался доволен, а его благодарность — это лучшая оценка изделий 
											«АЛЮТЕХ» и труда наших специалистов!

					.articl__sidebar
						.row
							.col-lg-12.col-md-3.col-sm-6.col-6
								a(href='#').image-card
									.image-card__info
										.image-card__info-data 
											span 5 ноября 2021
										.image-card__info-text Специальная цена на гаражные ворота Prestige классического дизайна
							.col-lg-12.col-md-3.col-sm-6.col-6
								a(href='#').image-card
									.image-card__info
										.image-card__info-data 
											span 5 ноября 2021
										.image-card__info-text Специальная цена на гаражные ворота Prestige 
							.col-lg-12.col-md-3.col-sm-6.col-6
								a(href='#').image-card
									.image-card__info
										.image-card__info-data 
											span 5 ноября 2021
										.image-card__info-text Специальная цена 
							.col-lg-12.col-md-3.col-sm-6.col-6
								a(href='#').image-card
									.image-card__info
										.image-card__info-data 
											span 5 ноября 2021
										.image-card__info-text Специальная цена на гаражные ворота Prestige классического дизайна

				
		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst