extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Catalog

block append scripts
	script(src='./assets/scripts/catalog.js' defer)

block header
	+header(2)
	
block container

		section.section.catalog
			.container
				h2 Каталог
				.section__text.
					В нашем ассортименте вы найдете все без исключения товары, которые есть у ведущих 
					производителей: от окон в квартиру до промышленных ворот и перегрузочной техники

				.row.catalog__content
					.col-xl-4.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Окна
									ul.catalog-card__list
										li Окна REHAU
										li Окна КПИ
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/01.png", alt="image")
					.col-xl-4.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Двери
									ul.catalog-card__list
										li Входные двери
										li Межкомнатные двери
										li Порталы
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/02.png", alt="image")
					.col-xl-4.col-lg-3.col-md-12.hidden-md
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Ворота
									ul.catalog-card__list
										li Гаражные ворота
										li Въездные ворота
										li Панорамные ворота
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/03.png", alt="image")
					.col-xl-7.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Автоматика
									ul.catalog-card__list
										li Автоматика для откатных ворот
										li Автоматика для распашных ворот
										li Автоматика для гаражных ворот
										li Автоматика для промышленных ворот
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/04.png", alt="image")
					.col-xl-5.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Стеклоизделия
									ul.catalog-card__list
										li Душевые ограждения
										li Фасадное остекление
										li Зимние сады
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/05.png", alt="image")
					.col-xl-5.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Роллеты
									ul.catalog-card__list
										li Рольставни
										li Роллетные ворота
										li Роллетные решетки
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/06.png", alt="image")
					.col-xl-7.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Промышленный сектор
									ul.catalog-card__list
										li Промышленные ворота
										li Системы контроля въезда
										li Перегрузочная техника
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/07.png", alt="image")

		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst