extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Contacts

block append scripts
	script(src='./assets/scripts/contacts.js' defer)

block header
	+header(2)
	
block container

		section.section.contacts(style='background-color:#f9f9f9')
			.container
				h2 Контакты
				.contacts__wrap
					.footer__info
						.header-info__address
							b г. Краснодар, <br>ст. Ленинградская, ул. Победы, 92Д
							p (угол улиц Победы и Коммунальной)
						.footer__item-block
							a(href="tel:89618555218" rel='nofollow').phone 8 (961) 855 52 18
							.social-icon
								a(href='#').social-icon__icon.viber
								a(href='#').social-icon__icon.whatsapp
						.header-info__mail
							a(href="mailto:a.pishulina-86@yandex.ru" rel='nofollow') a.pishulina-86@yandex.ru
						.header-info__time
							b Пн-Пт: 09:00 - 18:00
							p Сб: 10:00 - 18:00, Вс: выходной
						.footer__item-block
							.social-icon
								a(href='#').social-icon__icon.inst
							a(href="mailto:oknakpi_len@mail.ru" rel='nofollow').mail oknakpi_len@mail.ru

					.block-map#map

					.block-form 
						.block-form__suptitle Остались вопросы?
						.block-form__title Заполните форму и наш менеджер ответит вам в ближайшее время
							form.form(action="#").questions-form
								.form__item
									label(for='name3').form__field
										input(type="text", placeholder="Имя" id='name3' name="name2" autocomplete="on" required="required")
								.form__item
									label(for='phone3').form__field
										input(type="tel" id='phone3' pattern="2[0-9]{3}-[0-9]{3}" name="phone3" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								.form__item.form__item-textarea
									label(for='textarea3')
										textarea(placeholder='Сообщение', id='textarea3' name='textarea3', rows='3', cols='45' required="required")
								.form__item.form__item-button
									+button({
										text: 'Отправить'
									})(class="button__shadow")
								.form__item.form__item-check
									input(type='checkbox' id='check3' class='' name="check3" required="required" checked)
									label(for='check2' id='check3' class='text')
										p Согласие на обработку персональных данных
				
		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

			

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst
 
	