extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Delivery

block append scripts
	script(src='./assets/scripts/delivery.js' defer)

block header
	+header(2)
	
block container

		section.section.delivery(style='background-color:#f9f9f9')
			.container
				h2 Доставка и оплата
				.row
					.col-xl-6.col-lg-6.col-md-6
						.delivery__item
							.delivery__title Доставка:
							ul.list
								li.list__item По ст. Ленинградской бесплатно
								li.list__item Доставка в другие районы рассчитывается индивидуально
							.delivery__image 
								img(src="./assets/images/components/delivery/car.png", alt="image")
					.col-xl-6.col-lg-6.col-md-6
						.delivery__item
							.row
								.col-xl-8.col-lg-12.col-md-12
									.delivery__title Способы оплаты:
									ul.list
										li.list__item Беспроцентная рассрочка 
										li.list__item Выгодные кредиты
										li.list__item Оплата через терминал 
										li.list__item Оплата по QR коду 
									.delivery__info 
										span Работаем с НДС и без НДС
								.col-xl-4.col-lg-12.col-md-12
									.image-block
										.image-block__item.image-block__item-large
											figure.image-block__image
												img(src="./assets/images/components/delivery/qr-cod.png", alt="QR-cod")
										.image-block__item
											figure.image-block__image 
												img(src="./assets/images/design/peace.png", alt="icon")
											figure.image-block__image 
												img(src="./assets/images/design/visa.png", alt="icon")
											figure.image-block__image
												img(src="./assets/images/design/mastercard.png", alt="icon")
											figure.image-block__image
												img(src="./assets/images/design/maestro.png", alt="icon")


		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst