extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Discounts

block append scripts
	script(src='./assets/scripts/discounts.js' defer)

block header
	+header(2)
	
block container
	.discounts
		section.section.discounts__special(style='background-color:#f9f9f9')
			.container
				h2 Акции
				.row
					.col-lg-6.col-md-12.col-sm-12.col-12
						a(href='#').image-card.-large
							img(src="./assets/images/components/discounts/01.png", alt="image")
							.image-card__info
								.image-card__info-data 
									span 5 ноября 2021
								.image-card__info-text Специальная цена на гаражные ворота Prestige классического дизайна
					.col-lg-6.col-md-12.col-sm-12.col-12
						.row
							.col-lg-6.col-md-6.col-sm-6.col-6
								a(href='#').image-card
									img(src="./assets/images/components/discounts/02.png", alt="image")
									.image-card__info
										.image-card__info-data 
											span 5 ноября 2021
										.image-card__info-text Специальная цена на гаражные ворота Prestige классического дизайна
							.col-lg-6.col-md-6.col-sm-6.col-6
								a(href='#').image-card
										img(src="./assets/images/components/discounts/03.png", alt="image")
										.image-card__info
											.image-card__info-data 
												span 5 ноября 2021
											.image-card__info-text Специальная цена на гаражные ворота Prestige 
				.pager
					a.prev.page-numbers.disabled(href='#')
					span.page-numbers.current(aria-current='page') 1
					a.page-numbers(href='#') 2
					a.page-numbers(href='#') 3
					a.page-numbers(href='#') 4
					span.page-numbers.dots &mldr;
					a.page-numbers(href='#') 9
					a.next.page-numbers(href='#')
				
				.discounts__stock
					h2 Акционные товары
					.row
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/01.jpg", alt="image")
								.block-product__content
									.block-product__info-item
										.block-product__title Мансардное окно REHAU 
									.block-product__info-item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/02.jpg", alt="image")
								.block-product__content
									.block-product__item
										.block-product__title Мансардное окно REHAU двустворчатое 
									.block-product__item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/03.jpg", alt="image")
								.block-product__content
									.block-product__item
										.block-product__title Мансардное окно REHAU двустворчатое 
									.block-product__item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/01.jpg", alt="image")
								.block-product__content
									.block-product__item
										.block-product__title Мансардное окно REHAU двустворчатое 
									.block-product__item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")

		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst