extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title full-catalog

block append scripts
	script(src='./assets/scripts/full_catalog.js' defer)

block header
	+header(2)
	
block container

		section.product-page.section.-bottom(style='background-color:#f9f9f9')
			.container
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#") Главная
					li.breadcrumbs__item
						a(href="#") Каталог
					li.breadcrumbs__item
						a(href="#") Двери
					li.breadcrumbs__item.-active Входные двери
				
				.product-page__wrap 
					.product-page__menu
						h2 Каталог товаров
						.description
							.description__block
								.description__block-title окна
								i.description__icon
							.description__info
								ul.list
									li.list__item.-active
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Двери
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Ворота
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Автоматика
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Стеклоизделия
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Роллеты
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Промышленный сектор
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы

					.product-page__content
						.tabs.full-catalog_tabs
							.tabs__item
								a(href='#full-catalog-tab1')
									span Входные двери 
							.tabs__item
								a(href='#full-catalog-tab2')
									span Межкомнатные двери 
							.tabs__item
								a(href='#full-catalog-tab3')
									span порталы

						#full-catalog-tab1.tabs-content
							.row
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/01.jpg", alt="image")
										.block-product__content
											.block-product__info-item
												.block-product__title Мансардное окно REHAU 
											.block-product__info-item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/02.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/03.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/01.jpg", alt="image")
										.block-product__content
											.block-product__info-item
												.block-product__title Мансардное окно REHAU 
											.block-product__info-item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/02.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/03.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/01.jpg", alt="image")
										.block-product__content
											.block-product__info-item
												.block-product__title Мансардное окно REHAU 
											.block-product__info-item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/02.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/03.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/01.jpg", alt="image")
										.block-product__content
											.block-product__info-item
												.block-product__title Мансардное окно REHAU 
											.block-product__info-item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/02.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
								.col-lg-4.col-md-6.col-sm-6.col-12
									a(href='#').block-product
										figure.block-product__image
											img(src="./assets/images/components/top-goods/03.jpg", alt="image")
										.block-product__content
											.block-product__item
												.block-product__title Мансардное окно REHAU двустворчатое 
											.block-product__item
												.block-product__info Доступен любой размер под заказ 1200x700
												.block-product__item-footer
													.block-product__price от <span>15 900</span> ₽
													+button({
														text: 'Заказать'
													})(class="button__red")
						#full-catalog-tab1.tabs-content
						#full-catalog-tab1.tabs-content
						

		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst