doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Project name
		style.
			* {
				margin: 0;
				padding: 0;
			}
			body {
				font-family: Helvetica, Arial, sans-serif;
				padding: 20px 40px;
			}
			h1 {
				margin: 0 0 20px;
			}
			h2 {
				margin: 0 0 15px;
				font-weight: normal;
			}
			nav {
				font-size: 20px;
				line-height: 30px;
				margin: 0 0 30px;
			}
			li {
				list-style-type: none;
			}
			a {
				color: #2d83e4;
				text-decoration: underline;
			}
			a:hover,
			a:active {
				color: #ff5e5e;
			}
			a:visited {
				color: #d3d3d3;
			}

	body
		h1 Project Name
		h2 Pages
		nav
			ul
				li: a(href='./main.html') Main
				li: a(href='./catalog.html') Catalog
				li: a(href='./delivery.html') Delivery
				li: a(href='./reviews.html') Reviews
				li: a(href='./contacts.html') Contacts
				li: a(href='./discounts.html') Discounts
				li: a(href='./portfolio.html') Portfolio
				li: a(href='./about.html') About
				li: a(href='./articles.html') Articles
				li: a(href='./articl.html') Articl
				li: a(href='./product-page.html') Product Page
				li: a(href='./full-catalog.html') Full Catalog
				//- Append Pages Here
