extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Main

block append scripts
	script(src='./assets/scripts/main.js' defer)

block header
	+header(1)
	

block container
	.main 
		section.first-screen
			.container
				.first-screen__content 
					h1.first-screen__title Доставим и смонтируем <br>окна, двери и ворота 
					p.first-screen__text с гарантией от производителя <br>и бесплатным подбором под ваш <br>дизайн-проект
					.first-screen__description 
						span При заключении договора в день выезда <br>замерщика — <b>скидка на покупку 2%</b>
					.first-screen__button
						a(href='#').button.button__shadow рассчитать стоимость
			.container.first-screen__container
				.first-screen__image
					img(src="./assets/images/components/main/house.png", alt="image")
					.bloc-info 
						.bloc-info__item.gates.tooltip-html(data-tooltip-content='.html-content01')
						.bloc-info__item.windows.tooltip-html(data-tooltip-content='.html-content02')
						.bloc-info__item.doors.tooltip-html(data-tooltip-content='.html-content03')


		section.section.catalog
			.container
				h2 Каталог
				.section__text.
					В нашем ассортименте вы найдете все без исключения товары, которые есть у ведущих 
					производителей: от окон в квартиру до промышленных ворот и перегрузочной техники

				.row.catalog__content
					.col-xl-4.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Окна
									ul.catalog-card__list
										li Окна REHAU
										li Окна КПИ
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/01.png", alt="image")
					.col-xl-4.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Двери
									ul.catalog-card__list
										li Входные двери
										li Межкомнатные двери
										li Порталы
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/02.png", alt="image")
					.col-xl-4.col-lg-3.col-md-12.hidden-md
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Ворота
									ul.catalog-card__list
										li Гаражные ворота
										li Въездные ворота
										li Панорамные ворота
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/03.png", alt="image")
					.col-xl-7.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Автоматика
									ul.catalog-card__list
										li Автоматика для откатных ворот
										li Автоматика для распашных ворот
										li Автоматика для гаражных ворот
										li Автоматика для промышленных ворот
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/04.png", alt="image")
					.col-xl-5.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Стеклоизделия
									ul.catalog-card__list
										li Душевые ограждения
										li Фасадное остекление
										li Зимние сады
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/05.png", alt="image")
					.col-xl-5.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Роллеты
									ul.catalog-card__list
										li Рольставни
										li Роллетные ворота
										li Роллетные решетки
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/06.png", alt="image")
					.col-xl-7.col-lg-6.col-md-12
						a(href='#').catalog-card
							.catalog-card__wrap 
								.catalog-card__item
									.catalog-card__title
										span Промышленный сектор
									ul.catalog-card__list
										li Промышленные ворота
										li Системы контроля въезда
										li Перегрузочная техника
								.catalog-card__item.catalog-card__item-image
									figure 
										img(src="./assets/images/components/catalog/07.png", alt="image")

		section.section.consultation
			.container
				h2 Запишитесь на <b>бесплатный</b> замер-консультацию в удобное для вас время
				.section__text.
					Мастер-замерщик учтет все конструктивные особенности будущих окон, 
					дверей или ворот, толщину и материал стен, составит список необходимых 
					комплектующих и определит оптимальный способ установки
				.consultation__wrap 
					.block-form 
						form.form(action="#").consultation-form
							.form__item
								label(for='name1').form__field
									input(type="text", placeholder="Имя" id='name1' name="name1" autocomplete="on" required="required")
							.form__item
								label(for='phone1').form__field
									input(type="tel" id='phone1' pattern="2[0-9]{3}-[0-9]{3}" name="phone1" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
							.form__item.form__item-button
								+button({
									text: 'Заказать бесплатный замер'
								})(class="button__shadow")
							.form__item.form__item-check
								input(type='checkbox' id='check1' class='' name="check1" required="required" checked)
								label(for='check1' id='check1' class='text')
									p Согласие на обработку персональных данных
					.consultation__image-content 
						p.image-content.
							Наши монтажники регулярно проходят курсы повышения квалификации 
							в Академии Rehau, Alutech, Hormann и др.
						img(src="./assets/images/components/main/consultation-img.png", alt="image")

		section.section.top-goods(style='background-color:#f9f9f9')
			.container
				h2 Популярные группы товаров
				.tabs.top-goods__tabs
					.tabs__item
						a(href='#tab1')
							span Ремонт в квартире
					.tabs__item
						a(href='#tab2')
							span Обустроить двор
					.tabs__item
						a(href='#tab3')
							span Для интерьера
					.tabs__item
						a(href='#tab4')
							span Укомплектовать завод
					.tabs__item
						a(href='#tab5')
							span Для безопасности территории

				#tab1.tabs-content
					.row
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/01.jpg", alt="image")
								.block-product__content
									.block-product__info-item
										.block-product__title Мансардное окно REHAU 
									.block-product__info-item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/02.jpg", alt="image")
								.block-product__content
									.block-product__item
										.block-product__title Мансардное окно REHAU двустворчатое 
									.block-product__item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/03.jpg", alt="image")
								.block-product__content
									.block-product__item
										.block-product__title Мансардное окно REHAU двустворчатое 
									.block-product__item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/01.jpg", alt="image")
								.block-product__content
									.block-product__item
										.block-product__title Мансардное окно REHAU двустворчатое 
									.block-product__item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
				#tab2.tabs-content
					.row
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/01.jpg", alt="image")
								.block-product__content
									.block-product__info-item
										.block-product__title Мансардное окно REHAU 
									.block-product__info-item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
						.col-lg-3.col-md-6.col-sm-6.col-12
							a(href='#').block-product
								figure.block-product__image
									img(src="./assets/images/components/top-goods/03.jpg", alt="image")
								.block-product__content
									.block-product__item
										.block-product__title Мансардное окно REHAU двустворчатое 
									.block-product__item
										.block-product__info Доступен любой размер под заказ 1200x700
										.block-product__item-footer
											.block-product__price от <span>15 900</span> ₽
											+button({
												text: 'Заказать'
											})(class="button__red")
				#tab3.tabs-content
				#tab4.tabs-content
				#tab5.tabs-content
				
		section.section.future
			.container
				h2 Вы можете стать успешным партнёром компании «Стройфаворит» и улучшить свой бизнес вместе с нами
				.future__wrap
					.transparent-block
						.cooperation
							.cooperation__title Мы рады сотрудничать с:
							.cooperation__wrap
								.cooperation__item
									figure.cooperation__image
										img(src="./assets/images/components/main/avatar01.png", alt="avatar")
									p.
										промышленными организациями, 
										заводами, медицинскими центрами, 
										гостиничными и ресторанными
										комплексами и т.п.
								.cooperation__item
									figure.cooperation__image
										img(src="./assets/images/components/main/avatar02.png", alt="avatar")
									p.
										застройщиками, прорабами, строителями, дизайнерами
						figure.future__image
							img(src="./assets/images/components/main/future-img.png", alt="image")
					.future__item
						.flag.
							Получите специальные условия партнера или постоянного клиента 
							за то, что выбираете наши товары и услуги 
						.block-form 
							.block-form__title Оставьте свой номер телефона и прикрепите файлы проекта
							form.form(action="#").offer-form
								.form__item
									label(for='name2').form__field
										input(type="text", placeholder="Имя" id='name2' name="name2" autocomplete="on" required="required")
								.form__item
									label(for='phone2').form__field
										input(type="tel" id='phone2' pattern="2[0-9]{3}-[0-9]{3}" name="phone2" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								.form__item.form__item-file
									label.custom-file-upload(for='file-upload') <span>Прикрепите проект</span>
										input#file-upload(type='file')
									p.form__file-value
								.form__item.form__item-button
									+button({
										text: 'Заказать бесплатный замер'
									})(class="button__shadow")
								.form__item.form__item-check
									input(type='checkbox' id='check2' class='' name="check2" required="required" checked)
									label(for='check2' id='check2' class='text')
										p Согласие на обработку персональных данных

		section.section.top-goods(style='background-color:#f9f9f9')
			.container
				h2 Каждый клиент «стройфаворит», от обычной семьи до федерального завода, остались довольны нашей работой
				.tabs.tabs-success
					.tabs__item
						a(href='#tabs-success1')
							span все работы
					.tabs__item
						a(href='#tabs-success2')
							span окна
					.tabs__item
						a(href='#tabs-success3')
							span ворота
					.tabs__item
						a(href='#tabs-success4')
							span двери
					.tabs__item
						a(href='#tabs-success5')
							span порталы
					.tabs__item
						a(href='#tabs-success6')
							span промышленные ворота

				#tabs-success1.tabs-content
					.slider-show
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Промышленные ворота для «Кубанский молочник»
									.slider-card__info-item
										.slider-card__info
											p.
												Герметичность. Ограждения рассчитаны на эксплуатацию в различных климатических зонах.
												Удобство монтажа. Конструкции просты в установке благодаря минимальному количеству подвижных элементов и соединительных узлов.
												Значительный рабочий ресурс. Стальные ролики обладают улучшенными прочностными характеристиками, выдерживают большие механические и эксплуатационные нагрузки.
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽
	
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Ворота для «Молочник»
									.slider-card__info-item
										.slider-card__info.
											Промышленные ворота Алютех серии ProPlusс 
											вертикальными направляющим, были установлены 
											нашей монтажной группой в цеху предприятия...
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Промышленные ворота для «Кубанский молочник»
									.slider-card__info-item
										.slider-card__info.
											Промышленные ворота Алютех серии ProPlusс 
											вертикальными направляющим, были установлены 
											нашей монтажной группой в цеху предприятия...
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Промышленные ворота для «Кубанский молочник»
									.slider-card__info-item
										.slider-card__info.
											Промышленные ворота Алютех серии ProPlusс 
											вертикальными направляющим, были установлены 
											нашей монтажной группой в цеху предприятия...
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽


				#tabs-success2.tabs-content
					.slider-show
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Ворота для «Молочник»
									.slider-card__info-item
										.slider-card__info.
											Промышленные ворота Алютех серии ProPlusс 
											вертикальными направляющим, были установлены 
											нашей монтажной группой в цеху предприятия...
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽
	
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Промышленные ворота для «Кубанский молочник»
									.slider-card__info-item
										.slider-card__info.
											Промышленные ворота Алютех серии ProPlusс 
											вертикальными направляющим, были установлены 
											нашей монтажной группой в цеху предприятия...
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Промышленные ворота для «Кубанский молочник»
									.slider-card__info-item
										.slider-card__info.
											Промышленные ворота Алютех серии ProPlusс 
											вертикальными направляющим, были установлены 
											нашей монтажной группой в цеху предприятия...
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽
						.slider-show__slide
							.slider-card 
								.slider-card__image
									.slider-image
										.slider-image__slide
											img(src="./assets/images/components/slider-show/02.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/01.png", alt="image")
										.slider-image__slide
											img(src="./assets/images/components/slider-show/03.png", alt="image")
								.slider-card__content
									.slider-card__info-item
										.slider-card__title Промышленные ворота для «Кубанский молочник»
									.slider-card__info-item
										.slider-card__info.
											Промышленные ворота Алютех серии ProPlusс 
											вертикальными направляющим, были установлены 
											нашей монтажной группой в цеху предприятия...
										.slider-card__item-footer
											p Итоговая стоимость:
											.slider-card__price <span>38 900</span> ₽
				#tabs-success3.tabs-content
				#tabs-success4.tabs-content
				#tabs-success5.tabs-content
				#tabs-success6.tabs-content
				

		section.section.reviews
			.container
				h2 Отзывы довольных клиентов
				.section__text С 2013 года подбираем все самое лучшее для наших любимых клиентов! Спасибо, что выбираете нас
				.reviews-slider
					.reviews-slider__slide
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text 
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 
					.reviews-slider__slide
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 
					.reviews-slider__slide
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 

		section.presentation(style='background-color:#f9f9f9')
			.presentation__bg-vertical
			.container
				.presentation__content
					h2 Почему с нами выгодно работать?
					.section__text.
						Вы себе даже не представляете насколько мы клиентоориентированы, всегда идем на встречу, 
						редоставляем лучшие условия постоянным гостям и ценим нашу связь
				.presentation__wrap
					.circle-image
						img(src="./assets/images/components/main/presentation-img.png", alt="image")
					.presentation__item
						.presentation-card 
							.presentation-card__title Работаем на рынке с 2013 года
							.presentation-card__text.
								За это время собирали опыт, который дает возмож-
								ность предоставить вам лучший монтаж, качествен-
								ные товары от мировых брендов и гарантированный 
								результат
						.presentation-card
							.presentation-card__title Договор на дому
							.presentation-card__text.
								Если вы заняты, не можете отлучиться с работы 
								или выйти из дома, мы приедем к вам для заключения 
								договора, оформления рассрочки 
					.presentation__item.-space-between
						.presentation-card 
							.presentation-card__title Заботливый сервис
							.presentation-card__text.
								Выезд на замер, консультация и гарантийное обслуживание бесплатно, постгарантийное — по 
						.presentation-card
							.presentation-card__title Дизайн проект
							.presentation-card__text.
								Сомневаетесь в цвете, форме и модели будущей обновки? 
								Мы можем сделать вам дизайн-проект, чтобы понять, как это будет выглядеть у вас
					.presentation__item
						.presentation-card 
							.presentation-card__title Работаем в любых условиях
							.presentation-card__text.
								Наши монтажные группы используют профессио-
								нальные аккумуляторные инструменты Bosh, поэтому мы можем работать 
								на объекте без электричества
						.presentation-card
							.presentation-card__title Платите как Вам удобно
							.presentation-card__text.
								У нас вы можете оплатить наличными, на карту, через терминал или по QR-коду, 
								оформить беспроцентную рассрочку, выгодный кредит. Работаем с НДС и без

				h2 Мы работаем только с надежными и проверенными брендами
				

		section.section.brands(style='background-color:#f1f1f1')
			.container
				.brands-slider
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/01.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/02.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/03.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/04.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/05.png", alt="image")
					.brands-slider__slide
						a(href='' target="_blank" rel="nofollow").drand-image
							img(src="./assets/images/components/brands/01.png", alt="image")

		section.section.instagram
			.container
				.row
					.col-lg-7.col-md-12
						.instagram__content
							h2.instagram__title Подпишитесь на наш Instagram
							.instagram__text и первыми узнавайте о спецпредложениях, а также следите за нашими свежими работами
							figure.instagram__image
								img(src="./assets/images/components/main/instagram-img.png", alt="image")
					.col-lg-5.col-md-12
						.row
							.col-lg-6.col-md-6.col-sm-6.col-12
								figure.instagram__img
									img(src="./assets/images/components/main/inst01.jpg", alt="image")
							.col-lg-6.col-md-6.col-sm-6.col-12
								figure.instagram__img
									img(src="./assets/images/components/main/inst02.jpg", alt="image")


		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных
			

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst
	.tooltip_templates
		.html-content03.tooltip__item
			b Гаражные секционные ворота
			span Ворота по Вашему желанию с фирменным качеством
			
		.html-content01.tooltip__item
			b Окна
			span При заключении договора в день выезда

		.html-content02.tooltip__item
			b Двери
			span с гарантией от производителя
