extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Portfolio

block append scripts
	script(src='./assets/scripts/portfolio.js' defer)

block header
	+header(2)
	
block container

		section.section.portfolio(style='background-color:#f9f9f9')
			.container
				h2 Каждый клиент «стройфаворит», от обычной семьи до федерального завода, остались довольны нашей работой
				.portfolio__wrap
					.tabs.tabs-portfolio
						.tabs__item
							a(href='#tabs-portfolio1')
								span все работы
						.tabs__item
							a(href='#tabs-portfolio2')
								span окна
						.tabs__item
							a(href='#tabs-portfolio3')
								span ворота
						.tabs__item
							a(href='#tabs-portfolio4')
								span двери
						.tabs__item
							a(href='#tabs-portfolio5')
								span порталы
						.tabs__item
							a(href='#tabs-portfolio6')
								span промышленные ворота

					#tabs-portfolio1.tabs-content
						.slider-card.-portfolio
							.slider-card__image
								.slider-image
									.slider-image__slide
										img(src="./assets/images/components/slider-show/01.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/slider-show/02.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/slider-show/03.png", alt="image")
							.slider-card__content
								.slider-card__info-item
									.slider-card__title Промышленные ворота для «Кубанский молочник»
								.slider-card__info-item
									.slider-card__info.
										Герметичность. Ограждения рассчитаны на эксплуатацию в различных климатических зонах.
										Удобство монтажа. Конструкции просты в установке благодаря минимальному количеству подвижных элементов и соединительных узлов.
										Значительный рабочий ресурс. Стальные ролики обладают улучшенными прочностными характеристиками, выдерживают большие механические и эксплуатационные нагрузки.
									.slider-card__item-footer
										p Итоговая стоимость:
										.slider-card__price <span>38 900</span> ₽
										+button({
											text: 'хочу так же'
										})(class="button__shadow", class="")
						.slider-card.-portfolio
							.slider-card__image
								.slider-image
									.slider-image__slide
										img(src="./assets/images/components/slider-show/01.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/slider-show/02.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/slider-show/03.png", alt="image")
							.slider-card__content
								.slider-card__info-item
									.slider-card__title Промышленные ворота для «Кубанский молочник»
								.slider-card__info-item
									.slider-card__info.
										Герметичность. Ограждения рассчитаны на эксплуатацию в различных климатических зонах.
										Удобство монтажа. Конструкции просты в установке благодаря минимальному количеству подвижных элементов и соединительных узлов.
										Значительный рабочий ресурс. Стальные ролики обладают улучшенными прочностными характеристиками, выдерживают большие механические и эксплуатационные нагрузки.
									.slider-card__item-footer
										p Итоговая стоимость:
										.slider-card__price <span>38 900</span> ₽
										+button({
											text: 'хочу так же'
										})(class="button__shadow", class="")
						.slider-card.-portfolio
							.slider-card__image
								.slider-image
									.slider-image__slide
										img(src="./assets/images/components/slider-show/01.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/slider-show/02.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/slider-show/03.png", alt="image")
							.slider-card__content
								.slider-card__info-item
									.slider-card__title Промышленные ворота для «Кубанский молочник»
								.slider-card__info-item
									.slider-card__info.
										Герметичность. Ограждения рассчитаны на эксплуатацию в различных климатических зонах.
										Удобство монтажа. Конструкции просты в установке благодаря минимальному количеству подвижных элементов и соединительных узлов.
										Значительный рабочий ресурс. Стальные ролики обладают улучшенными прочностными характеристиками, выдерживают большие механические и эксплуатационные нагрузки.
									.slider-card__item-footer
										p Итоговая стоимость:
										.slider-card__price <span>38 900</span> ₽
										+button({
											text: 'хочу так же'
										})(class="button__shadow", class="")

					#tabs-portfolio2.tabs-content
					#tabs-portfolio3.tabs-content
					#tabs-portfolio4.tabs-content
					#tabs-portfolio5.tabs-content
					#tabs-portfolio6.tabs-content

				.pager
					a.prev.page-numbers.disabled(href='#')
					span.page-numbers.current(aria-current='page') 1
					a.page-numbers(href='#') 2
					a.page-numbers(href='#') 3
					a.page-numbers(href='#') 4
					span.page-numbers.dots &mldr;
					a.page-numbers(href='#') 9
					a.next.page-numbers(href='#')



		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst