extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Product_page

block append scripts
	script(src='./assets/scripts/product_page.js' defer)

block header
	+header(2)
	
block container

		section.product-page.section.-bottom(style='background-color:#f9f9f9')
			.container
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#") Главная
					li.breadcrumbs__item
						a(href="#") Каталог
					li.breadcrumbs__item
						a(href="#") Двери
					li.breadcrumbs__item.-active Входные двери
				h2 Каталог товаров
				.product-page__wrap 
					.product-page__menu
						.description
							.description__block
								.description__block-title окна
								i.description__icon
							.description__info
								ul.list
									li.list__item.-active
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Двери
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Ворота
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Автоматика
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Стеклоизделия
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Роллеты
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
						.description
							.description__block
								.description__block-title Промышленный сектор
								i.description__icon
							.description__info
								ul.list
									li.list__item
										a(href='#') Входные двери
									li.list__item
										a(href='#') Межкомнатные двери
									li.list__item
										a(href='#') Порталы
					.product-page__content
						.slider-card.-product
							.slider-card__image
								.slider-image
									.slider-image__slide
										img(src="./assets/images/components/catalog/slide01.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/catalog/slide01.png", alt="image")
									.slider-image__slide
										img(src="./assets/images/components/catalog/slide01.png", alt="image")
							.slider-card__content
								.slider-card__info-item
									.slider-card__title Цельностеклянные входные двери
									ul.list.-check
										.list__item Современный дизайн
										.list__item Экологичность
										.list__item Прочность и надежность
										.list__item Высокое светопропускание
								.slider-card__info-item
									.slider-card__info.
										Доступен любой размер под заказ 1200x700
									.slider-card__item-footer
										.slider-card__price от <span>38 900</span> ₽
										+button({
											text: 'Заказать'
										})(class="button__shadow", class="")

						.tabs.product__tabs
							.tabs__item
								a(href='#product-tab1')
									span Описание
							.tabs__item
								a(href='#product-tab2')
									span Характеристики

						#product-tab1.tabs-content.-product
							article.product-page__block-text 
								h2 Защита от влаги и пыли
								p.
									Окна Thermolock комплектуются инновационным уплотнением Rehau Raucell, 
									надежно защищающим от продувания, влаги и пыли и не теряющим своих свойств 
									со временем. Уплотнение Raucell сделано из сотового каучука, имеющего множество 
									микроскопических воздушных камер, надежно сохраняющих тепло на участке прижима 
									рамы и створки.
							article.product-page__block-text 
								h2 +44% тепла зимой
								p.
									Пластиковые окна Thermolock включают 4-х камерный профиль Rehau глубиной 60 мм и 
									теплосберегающий стеклопакет со специальным напылением, отражающим тепловую 
									энергию внутрь помещения. Напыление работает по принципу термоса, сохраняя 
									тепло внутри помещения. Теплосберегающее напыление абсолютно прозрачно и не 
									затеняет помещение.
								p.
									Для надежной защиты от влаги, пыли, сквозняков окна Thermolock комплектуются 
									инновационным уплотнением Rehau Raucell. Уплотнение Raucell сделано из сотового 
									каучука, поэтому сохраняет тепло лучше обычного EPDM-уплотнения.
							article.product-page__block-text  
								h2 Элегантный дизайн
								p.
									Пластиковые окна должны не только сохранять тепло, но и стать настоящим украшением 
									Вашего дома. Для этого мы разработали фигурный дизайнерский штапик, придающий окну 
									индивидуальность. Кроме того, мы сменили цвет уплотнений с черного на серый, чтобы 
									окно выглядело более светлым и элегантным.
							.product-page__description-wrap
								.product-page__description-text
									article.product-page__block-text
										h2 Легкий уход
										p.
											В обычных окнах, при открытии створки, внутри имеется паз, затрудняющий мытье окна. 
											Мы закрыли этот паз специальной заглушкой, чтобы поверхность была ровной.
									article.product-page__block-text 
										h2 Выгодная цена
										p.
											Все указанные преимущества входят в базовую комплектацию, то есть без удорожания.
								.product-page__description-image 
									img(src="./assets/images/components/catalog/product-page01.png", alt="image")
							article.product-page__block-text 
								h2 Встроенное микропроветривание
								p.
									Окна оснащаются специальным устройством щелевого проветривания. При повороте ручки 
									на 45 градусов, створка откидывается на несколько миллиметров для проветривания 
									без сквозняков.
							article.product-page__block-text
								h2 Гарантия
								p.
									Мы отвечаем за качество своей продукции и устраняем все неполадки в течение гарантийного срока бесплатно.
									Срок службы профилей Rehau — 40 лет, на этот период Вы можете ориентироваться, устанавливая наши окна.
							.product-page__image 
								img(src="./assets/images/components/catalog/product-page02.png", alt="image")
						#product-tab2.tabs-content.-product
							.row 
								.col-lg-3.col-md-6.col-sm-6.col-12
									.product-page__description-subtitle Виды стекла:
									ul.list
										.list__item Прозрачное;
										.list__item Тонированное;
										.list__item Гравированное;

								.col-lg-3.col-md-6.col-sm-6.col-12
									.product-page__description-subtitle Варианты стекла:
									ul.list
										.list__item Бесцветное
										.list__item Матовое (сатин)
										.list__item Осветленное

								.col-lg-4.col-md-6.col-sm-6.col-12
									.product-page__description-subtitle Варианты исполнения фурнитуры:
									ul.list
										.list__item Полированная нерж. сталь
										.list__item Шлифованная нерж. сталь
										.list__item Анодированный алюминий
										
								.col-lg-2.col-md-6.col-sm-6.col-12
									.product-page__description-subtitle Толщина стекла:
									ul.list
										.list__item 4 мм
										.list__item 10 мм
										.list__item 5 мм

		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst