extends ../layouts/base.pug
include ../components/header/header
include ../components/button/button

block title
	title Reviews

block append scripts
	script(src='./assets/scripts/reviews.js' defer)

block header
	+header(2)
	
block container

		section.section.reviews.-page
			.container
				h2 Отзывы довольных клиентов
				.section__text.
					С 2013 года подбираем все самое лучшее для наших любимых клиентов! 
					Спасибо, что выбираете нас 

				.row 
					.col-xl-6.col-lg-6.col-md-12
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text 
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 
					.col-xl-6.col-lg-6.col-md-12
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text 
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 
				
					.col-xl-6.col-lg-6.col-md-12
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text 
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 
					.col-xl-6.col-lg-6.col-md-12
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text 
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 
				
					.col-xl-6.col-lg-6.col-md-12
						.review-block
							.review-block__header
								.review-block__info
									.review-block__title 
										span Богатырев Евгений
									.review-block__subtitle
										span г. Краснодар
								.review-block__date
									span 05 ноября 2021
							.review-block__text 
								p.
									Стоял вопрос по остеклению лоджии, замена лоджии от застройщика. Не скрою, вызвал 
									четыре компании, все приходили мерили, считали. Когда запросил спецификации у компаний, 
									то слова расходились с делом. Я хотел поставить именно профиль Rehau, мне предлагали 
									разную солянку, например доборы от брусбокса, соединители тоже. И только компания КПИ 
									смогла удовлетворить мои требования.  С менеджером Татьяной мы подобрали мне 
									нужную комплектацию, грамотный специалист. Порадовало то, что уложились в сроки. 
									И отдельное спасибо...
							.review-block__link 
								a(href='#') Смотреть оригинал 
					.col-xl-6.col-lg-6.col-md-12
						a.review-block.-video(class="modal-iframe" href="https://www.youtube.com/v/2opWSNUHSRE?enablejsapi=1&theme=light&showinfo=0&vq=hd720&border=0&autoplay=1" style='background-image: url(./assets/images/components/review/review01.png)')
							.review-block__video-info 
								p Видеоотзыв
								span г. Краснодар
							figure.review-block__video-button 
								img(src="./assets/images/design/ytb-btn.png", alt="image")

			.reviews__button
				+button({
					text: 'Оставить отзыв'
				})(class="button__shadow")
				
		section.section(style='background-color:#262d32')
			.container
				.question-master
					.question-master__item.question-master__content
						h2 Хотите задать вопрос мастеру?
						p.
							Наши специалисты с удовольствием проконсультируют вас и дадут 
							рекомендации, звоните по номеру <a href="tel:89618555218" rel='nofollow'>8 (961) 855 52 18</a> или оставляйте заявку

					.question-master__item.question-master__form
						form.form.question-form(action='#')
							.form__item
								label(for='phone').question-form__query
									input(type="tel" id='phone' pattern="2[0-9]{3}-[0-9]{3}" name="phone" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
								+button({
									text: 'ЗАДАТЬ ВОПРОС'
								})(class="button__shadow", class="")
							.form__item.form__item-check
								input(type='checkbox' id='check' class='' name="check" required="required" checked)
								label(for='check' id='check' class='text')
									p Согласие на обработку персональных данных

block footer
	include ../components/footer/footer
	#button-up
		i.fas.fa-arrow-up
	.social-icon
		a(href='#').social-icon__icon.viber
		a(href='#').social-icon__icon.whatsapp
		a(href='#').social-icon__icon.inst