.description
	@media (--desktop-lg)
		&__block
			padding: 15px 30px
		&__block-title
			font-size: 18px
			line-height: 24px
		&__icon
			right: 20px
	@media (--desktop)
		&__block
			padding: 10px 30px
		&__block-title
			font-size: 16px
			line-height: 21px
		&__icon
			right: 20px
			top: 16px
	@media (--tablet-sm)
		&__block
			padding: 7px 25px 7px 15px
		&__block-title
			font-size: 14px
			line-height: 18px
		&__icon
			right: 15px
			top: 12px
		&__info
			padding: 10px 25px 10px 15px
