.description
	position: relative
	color: $text-color
	width: 100%
	margin-bottom: 7px
	&:last-child
		margin: 0
	&.-active
		.description__icon
			transform: rotate(-270deg)
		.description__block
			&::before
				background-color: $red
				opacity: 1
				transform: scale(1)

	&__block
		position: relative
		cursor: pointer
		padding: 15px 40px
		transition: all .2s linear 0
		background: $white
		&::before
			@include line-bottom
			width: 150px
			bottom: 0
			left: 0
			transition: 0.5s
			transform: scale(0.4)

	&__block-title
		position: relative
		margin: 0 
		font-weight: 500
		font-size: 24px
		line-height: 32px
		text-transform: uppercase
		

	&__icon
		position: absolute
		right: 30px
		top: 26px
		width: 6px
		height: 10px
		background-image: url('../images/design/arrow.png')
		background-size: cover
		z-index: 1
		transform: rotate(-90deg)
		transition: .3s

	&__info
		display: none
		overflow: hidden
		padding: 10px 40px
		transition: all .2s linear 0
		background: $white
		.list
			.-active
					a
						color: $red
			a
				color: $text-color
				&:hover
					color: $red
	

