.section
	@media (--desktop-sm)
		padding: 40px 0
	@media (--desktop)
		h2
			margin: 0 0 15px 
		&__text
			margin: 0 0 30px
	@media (--desktop-sm)
		h2
			margin: 0 0 10px
	@media (--tablet)
		padding: 35px 0
		&.-bottom
			padding: 0 0 35px
		&__text
			margin: 0 0 20px
			font-size: 18px
			line-height: 24px
	@media (--tablet-sm)
		padding: 30px 0
		&.-bottom
			padding: 0 0 30px
		h2
			margin: 0 0 5px
		&__text
			margin: 0 0 10px
			font-size: 16px
			line-height: 20px
	@media (--mobile)
		padding: 20px 0 30px
