.question-master
	@media (--desktop)
		&__form
			width: 360px
		&__content
			width: 560px
	@media (--desktop-sm)
		flex-direction: column
		h2
			margin: 0 0 10px
		&__form
			width: 360px
		&__content
			width: 100%
			margin: 0 0 10px
		&__item
			p
				font-size: 16px
				line-height: 24px
			a
				font-size: 18px
	@media (--tablet)
	@media (--mobile)
		&__form
			width: 100%
