.question-master
	position: relative
	color: $white
	display: flex
	justify-content: space-between

	h2
		margin: 0 0 15px

	&__content
		padding-right: 15px

	&__item
		position: relative
		width: 50%
		p
			font-size: 18px
			line-height: 28px

		a
			display: inline-block
			position: relative
			font-size: 24px
			font-weight: 500
			color: $red
			&:after
				content: ''
				position: absolute;
				left: 0
				bottom: -1px
				width: 100%
				height: 2px
				border-radius: 1.5px
				transition: 0.5s
				transform: scale(0.4)
			&:hover
				&::after
					background-color: $red
					opacity: 1
					transform: scale(1)

	&__form
		width: 530px
		padding: 20px 0 0

		.form__item-check
			margin: 0

