footer.footer
	.container
		.row.footer__content
			.col-xl-3.col-lg-6.col-md-5.col-sm-6.col-12.order-lg-1.order-md-1.order-xl-1
				.block-logo
					a(href='#').logo <span style='color:#eb061e'>строй</span><span style='color:#fff'>фаворит</span>
					p Окна, двери, ворота для частного дома, предприятия или завода

				.footer__item-block
					.social-icon
						//a(href='#').social-icon__icon.viber
						//a(href='#').social-icon__icon.whatsapp
						a(href='#').social-icon__icon.inst
					a(href="mailto:oknakpi_len@mail.ru" rel='nofollow').mail oknakpi_len@mail.ru

			.col-xl-4.col-lg-6.col-md-7.col-sm-6.col-12.order-lg-3.order-md-4.order-xl-2
				.footer__catalog 
					p каталог
					.footer__wrap
						ul.footer__wrap-item
							li 
								a(href='#' rel='nofollow' target='_blank') Окна
							li 
								a(href='#' rel='nofollow' target='_blank') Двери
							li 
								a(href='#' rel='nofollow' target='_blank') Стеклоизделия
							li 
								a(href='#' rel='nofollow' target='_blank') Ворота
							li 
								a(href='#' rel='nofollow' target='_blank') Роллеты
						ul.footer__wrap-item
							li 
								a(href='#' rel='nofollow' target='_blank') Автоматика
							li 
								a(href='#' rel='nofollow' target='_blank') Комплектующие
							li 
								a(href='#' rel='nofollow' target='_blank') Промышленный сектор
							li 
								a(href='#' rel='nofollow' target='_blank') Акции и спецпредложения

			.col-xl-2.col-lg-6.col-md-5.col-sm-6.col-12.order-lg-4.order-md-3.order-xl-3
				ul.menu 
					li 
						a(href='#' rel='nofollow' target='_blank') о компании
					li 
						a(href='#' rel='nofollow' target='_blank') каталог
					li 
						a(href='#' rel='nofollow' target='_blank') Акции
					li 
						a(href='#' rel='nofollow' target='_blank') Портфолио
					li 
						a(href='#' rel='nofollow' target='_blank') отзывы
					li 
						a(href='#' rel='nofollow' target='_blank') Доставка и оплата
					li 
						a(href='#' rel='nofollow' target='_blank') Статьи и новости
					li 
						a(href='#' rel='nofollow' target='_blank') Контакты
			.col-xl-3.col-lg-6.col-md-7.col-sm-6.col-12.order-lg-2.order-md-2.order-xl-4
				.footer__info
					.header-info__address
						b г. Краснодар, <br>ст. Ленинградская, ул. Победы, 92Д
						p (угол улиц Победы и Коммунальной)
					.footer__item-block
						a(href="tel:89618555218" rel='nofollow').phone 8 (961) 855 52 18
						.social-icon
							a(href='#').social-icon__icon.viber
							a(href='#').social-icon__icon.whatsapp
					.header-info__mail
						b E-mail:	
						a(href="mailto:oknakpi_len@mail.ru" rel='nofollow') oknakpi_len@mail.ru
					.header-info__time
						b Пн-Пт: 09:00 - 18:00
						p Сб: 10:00 - 18:00, Вс: выходной

	.footer__copyrights
		.container
			.footer-copyrights
				.footer-copyrights__item 
					a(href='#' target="_blank") Политика конфиденциальности
				.footer-copyrights__item г. Симферополь © Copyright  2021 г.
				.footer-copyrights__item.footer-copyrights__item-sheer
					a(href='#') Сделано в 

#modal-1(style="display: none;")
	.block-form.-modal
		.block-form__title Оставьте свои контакты и мы свяжемся с вами в ближайшее время
			form.form(action="#").modal-call-form
				.form__item
					label(for='name4').form__field
						input(type="text", placeholder="Имя" id='name4' name="name4" autocomplete="on" required="required")
				.form__item
					label(for='phone4').form__field
						input(type="tel" id='phone3' pattern="2[0-9]{3}-[0-9]{3}" name="phone4" autocomplete="on" placeholder="+7 (___) ___-__-__" required="required")
				.form__item.form__item-button
					+button({
						text: 'Обсудить условия'
					})(class="button__shadow")
				.form__item.form__item-check
					input(type='checkbox' id='check4' class='' name="check4" required="required" checked)
					label(for='check4' id='check4' class='text')
						p Согласие на обработку персональных данных