.consultation
	position: relative
	background: url('../images/components/main/consultation_bg.jpg') 50% 100% no-repeat
	background-size: cover
	overflow: hidden

	h2
		max-width: 875px
		margin: 0 0 30px

	.section__text
		max-width: 750px

	&__wrap
		display: flex
		justify-content: flex-start
		align-items: flex-end

	.block-form
		margin-right: 80px

	&__image-content
		position: relative
		padding: 25px 30px
		background: $white
		border-radius: 6px
		width: 600px
		margin: 0 0 20px
		p
			max-width: 380px
			padding-left: 25px
			position: relative
			&:before
				content: ''
				display: block
				position: absolute
				left: 0
				top: 0
				width: 2px
				height: 100%
				background: $red

		img
			width: 620px
			display: block
			position: absolute
			right: -40%
			bottom: -70px

