.consultation
	@media (--desktop-lg)
		.block-form
			margin-right: 40px
		&__image-content
			width: 500px
			margin: 0
			p
				max-width: 350px
			img
				width: 520px
				right: -45%
				bottom: -50px

	@media (--desktop)
		h2
			margin: 0 0 20px
		.block-form
			margin-right: 30px
		&__image-content
			padding: 15px 20px
			width: 400px
			p
				max-width: 300px
				padding-left: 15px
				font-size: 14px
				line-height: 18px

			img
				width: 420px
				right: -50%
				bottom: -50px
	@media (--desktop-sm)
		h2
			margin: 0 0 15px
		&__image-content
			padding: 15px 20px
			width: 400px
			p
				max-width: 100%
				padding-left: 15px
				font-size: 14px
				line-height: 18px
			img
				display: none

		&__wrap
			flex-direction: column
			justify-content: flex-start
			align-items: center

		.block-form
			margin: 0 0 30px 0
			width: 400px
	@media (--tablet-sm)
		.block-form
			margin: 0 0 20px 0
			width: 100%
		&__image-content
			padding: 15px 20px
			width: 100%
