.discounts
	@media (--desktop-sm)
		&__special
			.row
				[class*='col-']
					margin: 0 0 20px
			.pager
				margin: 0px 0 30px 

	@media (--tablet-sm)
		&__special
			.row
				margin-left: -5px
				margin-right: -5px
				[class*='col-']
					padding: 0 5px
					margin: 0 0 10px
	@media (--mobile)
