.contacts
	@media (--desktop)
		&__wrap
			flex-wrap: wrap
		.block-map
			width: 100%
			order: 2
			height: 300px
		.block-form
			width: 60%
			margin: 0 0 20px
			padding: 20px 40px
		.footer__info
			width: 40%
	@media (--desktop-sm)
		&__wrap
			flex-wrap: wrap
			padding: 25px
		.block-map
			width: 100%
			order: 2
			height: 300px
		.block-form
			width: 55%
			margin: 0 0 20px
			padding: 20px 20px
		.footer__info
			width: 45%
	@media (--tablet)
		&__wrap
			padding: 25px
		.block-map
			width: 100%
			order: 1
			height: 300px
		.block-form
			width: 100%
			margin: 0 0 20px
			padding: 10px 10px
			order: 2
		.footer__info
			padding-top: 0
			order: 0
			width: 100%
	@media (--tablet)
		&__wrap
			padding: 10px 0 0