.contacts
	position: relative

	&__wrap
		background: $white
		padding: 35px
		display: flex
		justify-content: space-between

	.footer__info
		padding: 100px 10px 0 0
		a
			color: $text-color
			
		
	.block-map
		width: 41%

	.block-form
		width: 410px
		background-color: $smoky
		padding: 30px 50px
		.form
			p
				color: $text-color
