.footer-copyrights
	@media (--desktop)
		&__item + &__item
			margin-left: 80px

	@media (--desktop-sm)
		font-size: 12px
		line-height: 16px
		&__item + &__item
			margin-left: 60px

	@media (--tablet)
		height: auto
		padding: 10px 0
		flex-direction: column
		text-align: center

		&__item
			width: 100%
		&__item + &__item
			margin: 10px 0 0 0 
		&__item-sheer
			justify-content: center
