.footer-copyrights
	color: $white
	position: relative
	display: flex
	justify-content: flex-start
	align-items: center
	height: 60px

	&__item
		position: relative
		a
			color: $white
			display: inline-block
	&__item + &__item
		margin-left: 100px

	&__item-sheer
		display: flex
		align-items: center
		a
			margin-right: 5px
		&::after
			content: ''
			position: relative
			display: inline-block
			background: url('../images/design/sheer.png')50% 50% no-repeat
			background-size: cover
			width: 60px
			height: 22px

