.block-logo
	max-width: 200px
	position: relative
	a
		display: block
		font-weight: 900
		font-size: 20px
		line-height: 24px
		color: $text-color
		text-transform: uppercase
	p
		font-size: 12px
		line-height: 16px
