.block-logo
	@media (--tablet)
	@media (--mobile)
		max-width: 180px
		a
			display: block
			font-weight: 900
			font-size: 18px
			line-height: 22px
			color: $text-color
			text-transform: uppercase
		p
			font-size: 10px
			line-height: 14px
