.slider-image
	position: relative
	overflow: hidden
	display: flex
	&.slick-initialized
		overflow: visible !important

	&__slide
		position: relative
		width: 100%
		img
			width: 100%
			vertical-align: top

	.slick-next
		right: 0px
		&::after
			background-image: url('../images/design/arrow.png')
			background-size: cover
			transform: translate(0, -50%) rotate(-180deg) !important
			margin-left: -2px

	.slick-prev
		left: 0px
		z-index: 1
		&::after
			background-image: url('../images/design/arrow.png')
			background-size: cover

	.slick-prev, .slick-next
		position: absolute
		top: 50%
		display: block
		width: 30px
		height: 30px
		border-radius: 50%
		padding: 0
		transition: .5s
		-webkit-transform: translate(0, -50%)
		-ms-transform: translate(0, -50%)
		transform: translate(0, -50%)
		cursor: pointer
		border: none
		outline: none
		background: $white
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35)
		&::after
			content: ''
			display: block
			position: absolute
			width: 6px
			height: 10px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

	.slick-disabled
		opacity: .5
		transition: .5s 
