.transparent-block
	position: relative
	width: 530px
	height: 400px
	background-color: rgba(255, 255, 255, .2)
	padding: 40px
	border-radius: 6px 6px 0 6px
	&::after
		content: ''
		display: block
		position: absolute
		top: 0
		right: -86px
		width: 0
		height: 0
		border: 0 solid transparent
		border-bottom-width: 0px
		border-top-width: 400px
		border-left: 86px solid rgba(255, 255, 255, .2)
