.transparent-block
	@media (--desktop-lg)
		width: 420px
		height: 350px
		padding: 40px 20px 40px 30px
		&::after
			top: 0
			right: -65px
			border-top-width: 350px
			border-left: 65px solid rgba(255, 255, 255, .2)
	@media (--desktop)
		&::after
			display: none
	@media (--tablet)
		padding: 30px 20px 30px 20px
		height: auto
