.block-form
	@media (--desktop)
		padding: 30px 30px 30px
		width: 350px
	@media (--desktop-sm)
		.form__item-button
			margin-top: 20px
			.button
				font-size: 14px
				width: 100%
				line-height: 48px
		.form__item-check
			p
				font-size: 10px
	@media (--tablet)
	@media (--tablet-sm)
		padding: 15px 10px
		&.-modal
			padding: 15px 10px
		&__title
			font-size: 16px
			line-height: 20px
			margin-bottom: 10px