.block-form
	position: relative
	background-color: rgba(255, 255, 255, .3)
	padding: 55px 55px 40px
	width: 420px
	border-radius: 6px
	&.-modal
		background-color: rgba(255, 255, 255, .7)
		padding: 35px 40px 40px
		width: 100%
		.form
			p
				color: $text-color

	&__suptitle
		font-size: 24px
		line-height: 48px
		text-align: center
		font-weight: 500

	&__title
		font-size: 18px
		line-height: 24px
		font-weight: 500
		text-align: center
		margin-bottom: 20px

	.form__item-button
		margin-top: 25px
		.button
			padding: 0
			width: 100%
			line-height: 58px

