.brands-slider
	position: relative
	width: 100%
	margin: 0 
	display: none
	overflow: hidden
	&.slick-initialized
		overflow: visible !important

	.slick-track
		display: flex
		align-items: stretch

	.slick-slide
		display: flex
		height: auto
		align-items: center
		justify-content: center
		> div
			height: 100%

	
	.slick-dots
		display: block
		position: absolute !important
		left: 50%
		margin-left: 0
		transform: translate(-50%, 0)
		bottom: -30px
		padding: 0
		margin: 0
	
	li
		display: inline-block !important
		margin-right: 10px
		width: 10px
		height: 10px
		border-radius: 50%
		border: 1px solid $granite
		background: $granite
		cursor: pointer
		&:last-child
			margin-right: 0 !important

	button
		display: none

	li.slick-active
		background: $red
		border: 1px solid $red

	.slick-next
		right: -15px
		&::after
			background-image: url('../images/design/arrow.png')
			background-size: cover
			transform: translate(0, -50%) rotate(-180deg) !important
			margin-left: -2px

	.slick-prev
		left: -15px
		z-index: 1
		&::after
			background-image: url('../images/design/arrow.png')
			background-size: cover

	.slick-prev, .slick-next
		position: absolute
		top: 50%
		display: block
		width: 30px
		height: 30px
		border-radius: 50%
		padding: 0
		transition: .5s
		-webkit-transform: translate(0, -50%)
		-ms-transform: translate(0, -50%)
		transform: translate(0, -50%)
		cursor: pointer
		border: none
		outline: none
		background: $white
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35)
		&::after
			content: ''
			display: block
			position: absolute
			width: 6px
			height: 10px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

	&__slide
		padding: 0 10px
		flex-shrink: 0
		outline: none
		transition: .3s
		position: relative
		height: 100%
