#button-up
	display: none	
	opacity: 0.6
	position: fixed
	right: 10px
	bottom: 10px
	transition: .3s
	height: 50px
	width: 50px
	border-radius: 50%
	border: 3px solid #BBBBBB
	z-index: 99999999
	.svg-inline--fa
		display: block
		font-size: 18px
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
 
#button-up:hover
	cursor: pointer
	opacity: 1
	transition: .3s
	border: 3px solid #000
