.image-block
	position: relative
	display: flex
	flex-wrap: wrap
	align-items: flex-start

	&__item
		display: flex
		flex-wrap: wrap
		align-items: flex-start
	&__item-large
		width: 100%
		margin-bottom: 50px
		padding-right: 15px
		.image-block__image
			max-height: 100%
			width: 100%
			margin-bottom: 0px

	&__image
		width: 50%
		max-height: 100%
		text-align: center
		margin-bottom: 25px
		img
			max-width: 100%
			vertical-align: top
			display: inline-block
