.bloc-info
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0

	&__item
		width: 40px
		height: 40px
		position: absolute
		border-radius: 50%
		background: $white
		display: block
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25)
		left: 27%
		top: 50%
		cursor: pointer
		z-index: 1
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			width: 24px
			height: 24px
			background: url('../images/design/circle-plus.png') 50% 50% no-repeat
			background-size: cover
			

		&.windows
			left: 43%
			top: 20%
		&.gates
			left: 66%
			top: 50%
