.bloc-info
	@media (--tablet)
		&__item
			width: 30px
			height: 30px
			&::before
				width: 20px
				height: 20px
	@media (--mobile)
		&__item
			width: 26px
			height: 26px
			&::before
				width: 18px
				height: 18px
