.drand-image
	position: relative
	background: $white
	display: flex
	height: 100%
	border: 1px solid $grey
	border-radius: 4px
	padding: 25px 20px

	img
		display: inline-block
		margin: auto
		max-width: 100%
		vertical-align: top
