.product-page
	@media (--desktop-lg)
		.tabs-content
			.list
				font-size: 14px
				font-weight: 400
				line-height: 20px
				&__item
					margin-bottom: 5px
		&__description-subtitle
			font-size: 14px
			line-height: 21px
			margin-bottom: 20px
	@media (--desktop)
		&__wrap
			flex-direction: column
		&__menu
			width: 100%
			margin: 0 0 20px

		&__content
			width: 100%
	@media (--desktop-sm)
		.tabs-content
			.list
				&__item
					margin-bottom: 5px
					font-size: 14px
					font-weight: 400
					line-height: 20px
		&__description-subtitle
			font-size: 14px
			line-height: 21px
			margin-bottom: 15px
		
		&__description-text
			width: 60%
		&__description-image
			width: 40%
			padding-top: 20px
			img
				max-height: 300px

		&__block-text 
			margin-bottom: 30px
			h2
				margin-bottom: 10px
			p
				margin-bottom: 20px
	@media (--tablet)
		&__description-text
			width: 60%
		&__description-image
			width: 40%
			padding-top: 20px
			img
				max-height: 250px

		&__block-text 
			margin-bottom: 30px
			h2
				margin-bottom: 10px
			p
				margin-bottom: 15px
				font-size: 14px
				line-height: 21px
		&__image
			padding: 0 

	@media (--mobile)
		&__description-text
			width: 100%
		&__description-image
			width: 0
			padding-top: 20px
			img
				display: none

		&__block-text 
			margin-bottom: 20px
			h2
				margin-bottom: 7px
			p
				margin-bottom: 10px
				font-size: 14px
				line-height: 21px
