.product-page
	position: relative

	&__wrap
		position: relative
		display: flex
		justify-content: space-between
		align-items: flex-start

	&__menu
		width: 23%
		margin-right: 10px

	&__content
		width: 75%

	.tabs-content
		.list
			font-size: 16px
			font-weight: 400
			line-height: 26px
			&__item
				margin-bottom: 5px
			

	&__description-subtitle
		font-weight: 500
		font-size: 16px
		line-height: 24px
		margin-bottom: 20px

	&__description-wrap
		display: flex

	&__description-text
		width: 50%
	&__description-image
		width: 50%
		height: 100%
		display: flex
		padding-top: 20px
		img
			display: block
			margin: auto
			max-height: 320px
			vertical-align: top

	&__block-text 
		margin-bottom: 40px
		h2
			font-weight: 600
			margin-bottom: 25px
		p
			margin-bottom: 20px
			font-size: 16px
			line-height: 24px
			&:last-child
				margin: 0

	&__image
		width: 100%
		padding: 0 20px
		img
			width: 100%
			vertical-align: top