.breadcrumbs
	@media (--desktop-sm)
		line-height: 50px
		&__item
			margin-right: 30px
			&::before
				content: '/'
				display: block
				position: absolute
				right: -18px
				top: 0
	@media (--tablet)
		line-height: 24px
		margin-bottom: 20px
		&__item
			margin-right: 30px
			position: relative
			&::before
				content: '/'
				display: block
				position: absolute
				right: -13px
				top: 0
