.breadcrumbs
	position: relative
	display: flex
	align-items: center
	justify-content: flex-start
	flex-wrap: wrap
	font-size: 14px
	line-height: 60px

	
	&__item
		position: relative
		margin-right: 40px
		&::before
			content: '/'
			display: block
			position: absolute
			right: -22px
			top: 0
		&:last-child
			margin: 0
			&::before
				display: none
		a
			color: $text-color
			&:hover
				text-decoration: underline
