.social-icon
	position: fixed
	top: 150px
	right: 15px
	z-index: 9

	&__icon
		width: 40px
		height: 40px
		position: relative
		margin-bottom: 10px
		display: block
		background: $white
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35)
		border-radius: 5px
		transition: .3s
		&:hover
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.65)
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			width: 24px
			height: 24px
			background: url('../images/design/viber.png') 50% 50% no-repeat
			background-size: cover
		&.whatsapp
			&::before
				background: url('../images/design/whatsapp.png') 50% 50% no-repeat
				background-size: cover
		&.inst
			&::before
				background: url('../images/design/inst.png') 50% 50% no-repeat
				background-size: cover
