.menu
	@media (--desktop)
		li
			a
				font-size: 14px
				line-height: 18px
	@media (--desktop-sm)
		height: auto
		flex-direction: column
		display: none
		padding-bottom: 20px
		li
			text-align: center
			a
				display: inline-block
				font-size: 16px
				line-height: 21px
				color: $text-color
				padding: 5px 0
	@media (--tablet)
		&
