.menu
	position: relative
	display: flex;
	align-items: center
	justify-content: space-between
	
	li
		a
			position: relative
			text-transform: uppercase
			color: $white
			font-size: 16px
			line-height: 21px
			font-weight: 500
			&:after
				content: ''
				position: absolute;
				left: 0
				bottom: -3px
				width: 100%
				height: 2px
				border-radius: 1.5px
				transition: 0.5s
				transform: scale(0.4)
			&:hover
				&::after
					background-color: $white
					opacity: 1
					transform: scale(1)
