.circle-block
	width: 280px
	height: 280px
	border-radius: 50%
	padding: 5px
	background: $red
	color: $white
	position: relative
	z-index: 1
	display: flex
	font-size: 18px
	line-height: 24px
	font-weight: 600
	text-align: center
	p
		width: 240px
		margin: auto
