.list
	@media (--desktop-lg)
		&.-check &
			&__item
				margin: 0 0 15px
	@media (--desktop-sm)
		&__item
			position: relative
			padding-left: 20px
			font-size: 16px
			font-weight: 500
			line-height: 20px
			margin: 0 0 10px
			&::before
				top: 7px
		&.-check &
			&__item
				margin: 0 0 15px
				&::before
					top: 5px
	@media (--tablet-sm)
		&__item
			padding-left: 10px
			font-size: 14px
			font-weight: 500
			line-height: 20px
			margin: 0 0 7px
			&::before
				top: 7px
		&.-check &
			&__item
				padding-left: 15px
				&::before
					top: 5px
