.list
	position: relative
	font-size: 18px
	font-weight: 500
	line-height: 24px

	&__item
		position: relative
		padding-left: 20px
		margin: 0 0 15px
		&::before
			content: ''
			display: block
			position: absolute
			height: 4px
			width: 4px
			border-radius: 50%
			background: #000
			left: 0
			top: 10px

	&.-check &
		&__item
			font-weight: 400
			margin: 0 0 25px
			&::before
				content: ''
				display: block
				position: absolute
				height: 8px
				width: 10px
				border-radius: 50%
				background: #000
				background: url('../images/design/check-red.png')
				background-size: cover
				left: 0
				top: 8px
