.tabs
	@media (--desktop-lg)
		&__item
			min-width: 100px
			&:last-child
				margin-right: 0
			&
				a
					padding: 0px 20px
					font-size: 14px
					line-height: 40px
	@media (--desktop)
		justify-content: center
		padding: 0px 0px 20px
		&__item
			min-width: 50px
			flex-shrink: 0
			margin: 0 7px 15px
			&:last-child
				margin-right: 0
			&
				a
					padding: 0px 10px
					font-size: 13px
					line-height: 40px
		&.tabs-portfolio
			flex-direction: row
		&.product__tabs, &.full-catalog_tabs
			.tabs__item
				margin: 0 20px 0 0
				&:last-child
					margin: 0
	@media (--desktop-sm)
		flex-wrap: wrap
		justify-content: center
		&.row
			[class*='col-']
				margin: 0 0 20px

		&__item
			margin: 0 5px 15px
		&.full-catalog_tabs
			flex-wrap: wrap
			justify-content: center
			.tabs__item
				margin: 0 5px 15px
				&:last-child
					margin: 0 5px 15px
		
	@media (--tablet)
		&

.tabs-content
	@media (--desktop-sm)
		.row
			[class*='col-']
				margin: 0 0 20px
		&.-product
			padding: 15px 20px 20px