.tabs
	position: relative
	padding: 0px 0px 40px
	display: flex
	justify-content: space-between
	align-items: center

	&__item
		position: relative
		min-width: 210px
		text-align: center
		&:last-child
			margin-right: 0
		&
			a
				position: relative
				display: inline-block
				padding: 0px 25px
				border-radius: 4px
				background: $white
				font-size: 17px
				line-height: 50px
				font-weight: 500
				color: $text-color
				text-transform: uppercase
				width: 100%
				transition: .3s
				box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2%)
				&:hover
					background: $red
					color: $white
				&.active
					background: $red
					color: $white
					box-shadow: none

	&.tabs-portfolio
		flex-direction: column
	&.product__tabs, &.full-catalog_tabs
		justify-content: flex-start
		.tabs__item
			margin-right: 20px
			&:last-child
				margin: 0


.tabs-content
	width: 100%
	flex-shrink: 0
	position: relative
	display: none
	&#tab1, &#tabs-success1, &#tabs-portfolio1, &#product-tab1, &#full-catalog-tab1
		display: block

	&.-product
		padding: 20px 30px 35px
		background: $white
		border-radius: 8px
