.first-screen
	min-height: 800px
	height: 100vh
	width: 100%
	overflow: hidden
	position: relative
	background: url('../images/components/main/first-screen_bg.png')50% 50% no-repeat
	background-size: cover
	padding: 240px 0 0

	&__container
		width: 100%

	&__image
		position: absolute
		right: -50px
		bottom: -7px
		width: 82%
		img
			width: 100%
			vertical-align: top

	.social-icon
		right: 20px
		top: 180px

	&__content
		position: relative
		z-index: 1

	&__title
		max-width: 620px
		margin-bottom: 20px

	&__text
		font-size: 30px
		line-height: 36px
		margin-bottom: 50px

	&__description
		padding-left: 30px
		position: relative
		margin-bottom: 56px
		&::before
			content: ''
			display: block
			position: absolute
			width: 4px
			height: 100%
			background: $red
			left: 0
			top: 0
			border-radius: 2px