.first-screen
	@media (--desktop-lg)
		min-height: 700px
		padding: 200px 0 0
	@media (--desktop)
		min-height: 600px
		padding: 160px 0 0
		&__title
			max-width: 620px
			margin-bottom: 20px

		&__text
			font-size: 22px
			line-height: 28px
			margin-bottom: 40px

		&__description
			padding-left: 20px
			margin-bottom: 45px
	@media (--desktop-sm)
		min-height: auto
		height: 100%
		padding: 30px 0 0
		&__container
			max-width: 100%
			padding: 0
		&__image
			position: relative
			right: 0
			bottom: 0
			width: calc( 100% + 10% )
			margin-left: -10%
		&__content
			br
				display: none
		&__title
			max-width: 620px
			margin: 0 auto 10px
			text-align: center

		&__text
			text-align: center
			font-size: 18px
			line-height: 24px
			margin-bottom: 20px

		&__description
			padding-left: 20px
			margin-bottom: 35px
			font-size: 14px

		&__button
			text-align: center
			margin-bottom: 20px
	@media (--tablet)
		&__description
			max-width: 80%
	@media (--mobile)
		padding: 20px 0 0

		.social-icon
			right: 5px
			top: 140px
		&__description
			margin-bottom: 25px
		&__text
			text-align: center
			font-size: 16px
			line-height: 22px