.reviews
	overflow: hidden
	position: relative
	background: url('../images/components/main/reviews_bg.png')100% 20% no-repeat
	background-size: cover

	&.-page
		background: $smoky
		.row
				[class*='col-']
					margin: 0 0 20px

	h2
		margin: 0 0 20px

	.section__text
		max-width: 730px

	&__button
		text-align: center

