.reviews
	@media (--desktop)
		h2
			margin: 0 0 15px 


	@media (--desktop-sm)
		h2
			margin: 0 0 10px

		.section__text
			max-width: 680px

	@media (--tablet-sm)
		h2
			margin: 0 0 5px

		.section__text
			max-width: 630px
