.form
	width: 100%
	&__item
		margin: 0 0 20px
		&:last-child
			margin: 0

	&__field
		width: 100%
		position: relative
		
		&
			input
				margin-top: 10px
				width: 100%
				padding: 0 16px 0 12px
				transition: .3s
				border: 1px solid $white
				box-sizing: border-box
				border-radius: 4px
				font-size: 14px
				line-height: 56px
				background: $white
				color: $text-color
				border-radius: 8px
		&
			input.error
				border: 1px solid $red
		&
			label.error
				position: absolute
				max-width: 320px
				color: $red
				font-size: 14px
				display: block
				font-weight: normal

	input::placeholder 
		color: $text-color

	//textarea
	&__item-textarea
		textarea
			margin-top: 10px
			width: 100%
			height: 136px
			resize: none
			padding: 5px 16px
			border: 1px solid $white
			box-sizing: border-box
			font-size: 14px
			line-height: 56px
			background: $white
			color: $text-color
			border-radius: 8px
		textarea.error
				border: 1px solid $red
		label.error
			position: absolute
			max-width: 320px
			color: $red
			font-size: 14px
			display: block
			font-weight: normal
			top: 190px
	

	// чекбокс
	&__item-check
		position: relative
		margin: 0 0 15px
		display: block
		cursor: pointer
		min-height: 28px
		p
			font-size: 12px
			line-height: 28px;
		input.error ~ label.text
			display: none !important


		input.error ~ label.error
			margin: 5px 0 0 !important
			z-index: 9
			color: $red

		input[type='checkbox']
			opacity: 0
			width: 12px
			height: 12px
			position: absolute
			padding: 0
			top: 0px
			left: -23px
			display: block
			z-index: 1

			&:checked
				~ label:after
					content: ''
					position: absolute
					background: url('../images/design/check.png')50% 50% no-repeat
					background-size: cover
					top: 9px
					left: 3px
					width: 8px
					height: 6px
					box-sizing: border-box

		label
			position: relative
			padding-left: 20px
			font-size: 12px
			line-height: 16px
			color: $white
			display: block
			width: 100%
			cursor: pointer
			&:before
				content: ''
				position: absolute
				top: 6px
				left: 0px
				background: transparent
				border: 1px solid $grey
				width: 14px
				height: 14px

		label.error
			position: relative
			padding-left: 20px
			font-size: 12px
			white-space: normal!important
			display: block
			&:before
				content: ''
				position: absolute
				top: 6px
				left: 0px
				background: transparent
				border: 1px solid $red
				width: 14px
				height: 14px
	//file

	&__item-file
		input
			display: none
		label
			position: relative
			cursor: pointer
			text-align: center
			display: block
			span
				position: relative
				display: inline-block
				padding-left: 25px
				text-decoration: underline
				&::before
					content: ''
					display: block
					position: absolute
					left: 0
					top: 0
					width: 17px
					height: 18px
					background: url('../images/design/paper-clip.png') 50% 50% no-repeat
					background-size: cover
		p
			text-align: center
