.tooltip_templates
	display: none

.tooltipster-main
	&.tooltipster-base
		width: auto !important
		max-width: 230px !important
		height: auto !important
		margin-bottom: -5px !important

	.tooltipster-content
		position: relative
		color: #000 !important
		padding: 16px !important
		font-size: 12px !important
		line-height: 16px !important
		text-align: center

	.tooltipster-arrow-uncropped
		display: none

	.tooltipster-box
		background: $white !important
		border: 1px solid $white !important
		margin: 0 !important

	.tooltipster-arrow-background
		border-top-color: $white !important
		left: 0
		top: -0px !important

	.tooltipster-top .tooltipster-arrow
		bottom: -1px !important
		height: 10px
		margin-left: -10px
		width: 20px
		display: none !important

	.tooltipster-bottom .tooltipster-arrow
		border-top-color: $white !important
		top: -1px !important
		height: 10px
		margin-left: -10px
		width: 20px
		display: none !important

	.tooltipster-bottom .tooltipster-arrow-background
		border-bottom-color: $white !important
		left: 0
		top: -1px !important

	.tooltipster-arrow-border
		border: 10px solid transparent
		left: 0
		top: 1px !important

	

	.tooltip__item
		b
			display: block
			font-size: 16px
			margin-bottom: 10px
		span
			display: block
			font-size: 16px

	.tooltipster-arrow-border 
		border-top-color: $white !important
