.tooltipster-main
	@media (--tablet)
		.tooltip__item
			b
				font-size: 14px
				margin-bottom: 10px
			span
				font-size: 14px
	@media (--mobile)
		.tooltip__item
			b
				font-size: 12px
				margin-bottom: 10px
			span
				font-size: 12px
