.review-block
	@media (--desktop-lg)
		&__text
			margin: 0 0 30px
	@media (--desktop)
		padding: 25px
		&__video-info
			bottom: 15px
			left: 25px
			p
				font-size: 20px
				line-height: 16px
			span
				font-size: 16px
				line-height: 24px
		&__video-button
			margin: auto
			width: 70px
		&__date
			font-size: 12px
			margin-top: 5px

		&__title
			font-size: 20px
			line-height: 24px
			margin: 0 0 5px

		&__subtitle
			margin: 0 0 15px

		&__text
			margin: 0 0 25px
	@media (--desktop-sm)
		padding: 15px
		font-size: 14px
		&.-video
			padding-bottom: 41%
		&__date
			font-size: 12px
			margin-top: 5px

		&__title
			font-size: 18px
			line-height: 24px
			margin: 0 0 5px

		&__subtitle
			margin: 0 0 10px

		&__text
			margin: 0 0 15px
			p
				line-clamp: 5
				-webkit-line-clamp: 5

	@media (--tablet)
		&
