.review-block
	position: relative
	background: $white
	height: 100%
	width: 100%
	border: 1px solid $grey
	padding: 35px
	border-radius: 6px
	&.-video
		background-size: cover
		background-position: 100% 50%
		display: block
		&::before
			width: 100%
			height: 35%
			content: ''
			display: block
			position: absolute
			bottom: 0
			left: 0
			border-radius: 8px
			background: linear-gradient(to bottom, transparent, black)
			z-index: 1
		&:hover
			.review-block__video-button
				transition: .3s
				transform: translate(-50%, -50%) scale(1.2)

	&__video-info
		position: absolute
		bottom: 20px
		left: 35px
		color: $white
		z-index: 1
		p
			font-size: 24px
			line-height: 30px
			font-weight: 500
		span
			display: inline-block
			font-size: 16px
			line-height: 24px
	&__video-button
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%) scale(1)
		width: 80px
		z-index: 1
		transition: 0.5s
		img
			width: 100%
			vertical-align: top

	&__link
		position: relative
		text-align: right
		a
			display: inline-block
			color: $red
			text-decoration: underline
			&:hover
				text-decoration: none

	&__header
		display: flex
		justify-content: space-between
		align-items: flex-start

	&__title
		font-size: 24px
		line-height: 28px
		font-weight: 500
		margin: 0 0 15px

	&__text
		margin: 0 0 40px
		p
			margin: 0
			-webkit-line-clamp: 7
			line-clamp: 7
			display: -webkit-box
			-webkit-box-orient: vertical
			box-orient: vertical
			overflow: hidden

	&__subtitle
		margin: 0 0 25px
				
