doctype html
html
	head
		meta(charset='UTF-8')
		block title

		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		link(rel="stylesheet", href="./assets/styles/main.css")

	body

		block body
			.layout
				.layout--header
					block header

				.layout--container
					block container

				.layout--footer
					block footer

		block scripts
			include ../partials/scripts