.footer
	@media (--desktop-lg)
		&__wrap-item
			margin-right: 50px
	@media (--desktop)
		.row
    	[class*='col-']
       	margin: 0 0 30px
	@media (--tablet)
		&__wrap-item
			margin-right: 20px
	@media (--tablet-sm)
		&__wrap-item
			margin-right: 40px
		.row
			[class*='col-']
				margin: 0 0 20px
				&:last-child
					margin: 0
		&__content
			padding: 40px 0 20px
