.footer
	position: relative
	background: $granite
	font-size: 14px
	line-height: 16px
	color: $white

	.block-logo
		margin: 0 0 20px

	&__info
		.social-icon
			display: flex
			a.social-icon__icon
				display: block
				margin-right: 15px
				&:last-child
					margin: 0
		.header-info__time, .header-info__address
			display: block
			margin: 0 0 20px
			line-height: 22px
			b
				font-weight: 500
		.header-info__mail
			display: block
			margin: 0 0 30px
			b, a
				display: inline-block
				color: $white
				margin-right: 5px
		.phone
			display: block
			margin-right: 20px
			font-weight: 600

	&__item-block
		display: flex
		align-items: center
		margin: 0 0 20px
		.social-icon
			position: relative
			top: auto
			right: auto
			margin-right: 20px
			a
				margin: 0
		.mail, .phone
			display: inline-block
			color: $white
			&:hover
				color: $red

	&__catalog
		p
			position: relative
			text-transform: uppercase
			font-size: 16px
			line-height: 21px
			font-weight: 500
			margin: 0 0 15px

	&__wrap
		display: flex

	&__wrap-item
		margin-right: 90px
		&:last-child
			margin: 0
		li
			margin: 0 0 20px
			a
				font-size: 16px
				line-height: 21px
				color: $white
				transition: .3s
				&:hover
					color: $red

	.menu
		display: flex
		flex-direction: column
		align-items: flex-start
		li
			margin: 0 0 10px
			a
				color: $white
			&:last-child
				margin: 0

	&__content
		padding: 40px 0 50px

	&__copyrights
		position: relative 
		&::before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 2px
			background: $dark
		.container
			height: 100%

