.instagram
	position: relative
	font-size: 24px
	font-weight: 500
	line-height: 32px
	padding: 85px 0

	&__content
		max-width: 520px
		position: relative
		height: 100%

	&__title
		line-height: 48px
		position: relative
		max-width: 380px
		margin: 0 0 40px
		&::after
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 2px
			background: $red
			left: 0
			bottom: -10px

	&__image
		position: absolute
		bottom: -85px
		right: -350px
		width: 364px
		overflow: hidden
	img
		width: 100%
		vertical-align: top


