.instagram
	@media (--desktop-lg)
		&__image
			bottom: -85px
			right: -280px
			width: 300px
	@media (--desktop)
		font-size: 20px
		line-height: 26px
		padding: 50px 0
		&__image
			display: none

		&__title
			line-height: 44px
			max-width: 350px
			margin: 0 0 30px
			&::after
				bottom: -10px
	@media (--desktop-sm)
		padding: 45px 0
		&__title
			line-height: 44px
			max-width: 100%
			margin: 0 0 30px
			&::after
				display: none
		&__content
			max-width: 100%
			margin-bottom: 30px
	@media (--tablet)
		font-size: 18px
		line-height: 24px
		padding: 40px 0
		&__title
			line-height: 36px
			margin: 0 0 20px
		&__content
			max-width: 100%
			margin-bottom: 20px
	@media (--mobile)
		font-size: 16px
		line-height: 22px
