.question-form
	@media (--desktop)
		.button__shadow
			width: 160px
			font-size: 14px
			line-height: 50px
			top: -3px
			right: -1px
			min-width: 100px
			padding: 0
		&__query
			position: relative
			display: block
			max-height: 48px
			background: transparent
			border-radius: 6px

			input
				width: 100%
				background: $white
				font-size: 14px
				line-height: 48px
				padding: 0px 190px 0px 20px
				border-radius: 6px
				border: 1px solid #000

	@media (--tablet)
	@media (--mobile)
		.button__shadow
			width: 140px
		&__query
			input
				width: 100%
				font-size: 14px
				line-height: 48px
				padding: 0px 120px 0px 20px