.question-form
	width: 100%
	position: relative

	.button__shadow
		width: 250px
		position: absolute
		top: -3px
		right: -1px
		min-width: 100px

	&__query
		position: relative
		display: block
		max-height: 58px
		background: transparent
		border-radius: 6px

		input
			width: 100%
			background: $white
			font-size: 14px
			line-height: 58px
			padding: 0px 260px 0px 20px
			border-radius: 6px
			border: 1px solid #000

		input.error
				border: 1px solid $red
		label.error
			font-size: 14px
			display: block
			color: $red
			font-weight: normal
			position: absolute
			left: 0
			bottom: -22px
