.slider-card
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	width: 100%
	height: 100%
	border-radius: 8px
	background: $white
	color: $text-color

	&__content
		padding: 25px 30px 30px
		display: flex
		flex-direction: column
		justify-content: space-between
		flex-grow: 1
		flex-shrink: 1

	&__title
		position: relative
		padding-left: 24px
		margin: 0 0 20px
		font-size: 20px
		font-weight: 500
		line-height: 24px
		&::before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			width: 2px
			height: 100%
			background: $red

	&__info
		margin: 0 0 25px
		p
			margin: 0
			-webkit-line-clamp: 3
			line-clamp: 3
			display: -webkit-box
			-webkit-box-orient: vertical
			box-orient: vertical
			overflow: hidden

	&__item-footer
		display: flex
		align-items: center
		justify-content: space-between

	&__price
		font-size: 20px
		font-weight: 500
		line-height: 24px
		color: $red

	&.-portfolio
		flex-direction: row
		justify-content: flex-start
		margin-bottom: 20px
		.button
			line-height: 54px

	&.-portfolio &
		&__image
			max-width: 45.8%
		&__content
			max-width: 54.2%
		&__title
			max-width: 330px

		&__info-item
			&:last-child
				margin-left: 25px
		&__info
			margin: 0 
			
	&.-product
		flex-direction: row
		justify-content: flex-start
		margin-bottom: 20px
		.button
			line-height: 54px

	&.-product &
		&__image
			max-width: 45.8%
			//width: 494px
			flex-shrink: 0
		&__content
			max-width: 54.2%
		&__title
			max-width: 100%
			padding-left: 0
			margin-bottom: 35px
			&::before
				display: none
		&__price
			color: $text-color

		&__info-item
			&:last-child
				margin-left: 0px
		&__info
			margin: 0 0 10px
