.slider-card
	@media (--desktop-lg)
		&.-portfolio
			font-size: 13px
			line-height: 22px
		&.-portfolio &
			&__content
				padding: 20px 20px 15px
			&__title
				margin: 0 0 10px
				font-size: 18px
				line-height: 20px
		&.-product
			font-size: 13px
			line-height: 22px
		&.-product &
			&__content
				padding: 20px 20px 15px
			&__title
				font-size: 18px
				line-height: 20px
				margin-bottom: 35px
			&__item-footer
				.button
					line-height: 46px
	@media (--desktop)
		&.-product &
			&__content
				padding: 20px 20px 15px
			&__title
				margin: 0 0 25px
	@media (--desktop-sm)
		font-size: 16px
		line-height: 20px
		&__content
			padding: 20px 25px 25px
		&__title
			padding-left: 20px
			margin: 0 0 15px
			font-size: 18px
			line-height: 20px
		&__info
			margin: 0 0 15px

		&.-portfolio
			position: relative
			display: flex
			flex-direction: column
			justify-content: space-between
			width: 100%
			height: 100%
			font-size: 16px
			line-height: 20px
		&.-portfolio &
			&__image
				max-width: 100%
			&__content
				max-width: 100%
				padding: 25px 30px 30px
				display: flex
				flex-direction: column
				justify-content: space-between
				flex-grow: 1
				flex-shrink: 1
			&__price
				font-size: 20px
				line-height: 24px
			&__title
				margin: 0 0 15px
				font-size: 18px
				line-height: 20px
		&.-product
			position: relative
			display: flex
			flex-direction: column
			justify-content: space-between
			width: 100%
			height: 100%
			font-size: 16px
			line-height: 20px
		&.-product &
			&__image
				max-width: 100%
			&__content
				max-width: 100%
				padding: 25px 30px 30px
				display: flex
				flex-direction: column
				justify-content: space-between
				flex-grow: 1
				flex-shrink: 1
			&__price
				font-size: 20px
				line-height: 24px
			&__title
				margin: 0 0 15px
				font-size: 18px
				line-height: 20px
	@media (--tablet)
		font-size: 14px
		line-height: 20px
		&__content
			padding: 15px 15px 20px
		&__title
			padding-left: 15px
			margin: 0 0 15px
			font-size: 18px
			line-height: 20px
		&__info
			margin: 0 0 15px
		&__price
			font-size: 16px
			line-height: 20px

	@media (--tablet-sm)
		&.-portfolio
			font-size: 15px
			line-height: 18px
			.button
				line-height: 44px
				font-size: 14px
				padding: 0 15px
		&.-portfolio &
			&__content
				padding: 20px 15px 15px

			&__info-item
				&:last-child
					margin-left: 0px
			&__price
				font-size: 20px
				line-height: 24px
			&__title
				margin: 0 0 15px
				font-size: 18px
				line-height: 20px
		&.-product
			font-size: 15px
			line-height: 18px
			.button
				line-height: 44px
				font-size: 14px
				padding: 0 15px
		&.-product &
			&__content
				padding: 20px 15px 15px
			&__item-footer
				justify-content: center
			&__info-item
				&:last-child
					margin-left: 0px
			&__price
				font-size: 20px
				line-height: 24px
				margin-bottom: 15px
			&__title
				margin: 0 0 15px
				font-size: 18px
				line-height: 20px

	@media (--mobile)
		&.-portfolio
			.button
				width: 100%
		&.-portfolio &
			&__item-footer
				margin: 10px 0 0
				flex-wrap: wrap
				p
					margin: 0 0 10px
		&.-product
			.button
				width: 100%
		&.-product &
			&__item-footer
				margin: 10px 0 0
				flex-wrap: wrap
				p
					margin: 0 0 10px
