.delivery
	position: relative

	h2
		margin: 0 0 20px

	&__item
		position: relative
		padding: 30px
		background: $white
		height: 100%
	&__image
		width: 390px
		margin: 0 auto
		img
			width: 100%
			vertical-align: top


	&__title
		line-height: 48px
		padding-left: 25px
		font-weight: 500
		font-size: 24px
		margin: 0 0 5px
		position: relative
		&::after
			@include after-before
			height: 100%
			width: 2px
			background: $red
			left: 0
			top: 0

	&__info
		span
			display: inline-block
			padding: 0 24px
			line-height: 48px
			font-size: 18px
			font-weight: 500
			background: $grey_light
			margin-top: 40px

	.list
		margin-left: 25px

	.image-block
		margin-top: 15px
		width: 170px

