.delivery
	@media (--desktop)
		&__image
			width: 290px

		&__item
			.row
				[class*='col-']
					margin: 0 0 20px

		.image-block
			width: 100%

	@media (--desktop-sm)
		&__image
			width: 220px
		.list
			margin-left: 15px
		&__info
			span
				display: inline-block
				padding: 0 20px
				line-height: 36px
				font-size: 16px
				margin-top: 30px

	@media (--tablet)
		&__item
			padding: 25px 25px 0px
			.row
				[class*='col-']
					margin: 0 0 10px
		&__image
			display: none
		.image-block
			display: none

		&__title
			line-height: 36px
			padding-left: 20px
			font-size: 20px
			margin: 0 0 15px

		@media (--tablet-sm)
			&__title
				line-height: 32px
				padding-left: 20px
				font-size: 18px
				margin: 0 0 10px
			&__info
				span
					padding: 0 20px
					line-height: 32px
					font-size: 14px
					margin-top: 20px
