.flag
	position: absolute
	padding: 30px 25px 20px
	width: 270px
	background: $red
	color: $white
	font-size: 18px
	line-height: 28px
	font-weight: 600
	text-align: center
	top: 0px
	right: 0
	border-radius: 8px
	&::after
		content: ''
		display: block
		position: absolute
		left: 1px
		bottom: -62px
		width: 0
		border: 0 solid transparent
		border-left-width: 134px
		border-right-width: 134px
		border-top: 65px solid $red
