.slider-show
	position: relative
	width: calc( 100% + 30px )
	margin: 0 0 20px -15px
	display: none
	overflow: hidden
	&.slick-initialized
		overflow: visible !important

	.slick-track
		display: flex
		align-items: stretch

	.slick-slide
		display: flex
		height: auto
		align-items: center
		justify-content: center
		> div
			height: 100%

	
	.slick-dots
		display: block
		position: absolute !important
		left: 50%
		margin-left: 0
		transform: translate(-50%, 0)
		bottom: -30px
		padding: 0
		margin: 0
	
	li
		display: inline-block !important
		margin-right: 10px
		width: 10px
		height: 10px
		border-radius: 50%
		border: 1px solid $granite
		background: $granite
		cursor: pointer
		&:last-child
			margin-right: 0 !important

	button
		display: none

	li.slick-active
		background: $red
		border: 1px solid $red

	&__slide
		padding: 0 15px
		flex-shrink: 0
		outline: none
		transition: .3s
		position: relative
		height: 100%
