.confidence
	@media (--desktop-lg)
		&__wrap
			.circle-image
				width: 580px
				img
					width: 100%
					vertical-align: top

			.circle-block
				width: 260px
				height: 260px
				font-size: 16px

			.presentation-card
				margin: 0 0 40px 60px
				max-width: 540px
	@media (--desktop)
		&__wrap
			height: 550px
			.presentation-card
					margin: 0 0 40px 60px
					max-width: 540px
					padding: 40px 35px

			.circle-image
				position: absolute
				width: 540px
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)

			.circle-block 
				left: 0
				top: 50%
				transform: translate(0, -50%)
	@media (--desktop-sm)
		&__wrap
			margin: 0 0 40px
			height: 510px
			.circle-image
				position: absolute
				width: 490px
			.circle-block 
				width: 240px
				height: 240px
				font-size: 15px
				padding: 10px
			.presentation-card
					margin: 0 0 20px 30px
					max-width: 540px
					padding: 20px 15px
	@media (--tablet)
		&__wrap
			margin: 0 0 40px
			height: 510px
			.circle-image
				position: absolute
				width: 490px
			.circle-block 
				width: 240px
				height: 240px
				font-size: 15px
				padding: 10px
			.presentation-card
					margin: 0 0 20px 0px
					max-width: 100%
					padding: 20px 15px
	@media (--tablet-sm)
		&__item
			width: 100%
		&__wrap
			margin: 0 0 30px
			height: auto
			flex-direction: column
			.circle-image
				display: none
			.circle-block 
				width: 240px
				height: 240px
				font-size: 15px
				padding: 20px 15px
				position: relative
				border-radius: 0
				width: 100%
				height: auto
				left: auto
				top: auto
				transform: translate(0, 0)
				margin-bottom: 20px
				p
					width: 100%
			.presentation-card
					margin: 0 0 20px 0px
					max-width: 100%
					padding: 20px 15px
