.confidence
	position: relative
	padding: 0

	h2 
		text-align: center

	&__wrap
		display: flex
		position: relative
		margin: 0 0 70px
		align-items: center

		.circle-block 
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)

		.circle-image
			width: 590px

		.presentation-card
			margin: 0 0 50px 70px
			max-width: 590px
			padding: 60px 55px
			&:last-child
				margin-bottom: 0

	&__item
		width: 50%
