mixin header(ver, options)
	- var ver = ver ? ver : 1

	case ver
		when 1
			header.header
				.header__top
					.container
						.header-info 
							.block-logo
								a(href='#').logo <span style='color:#eb061e'>строй</span>фаворит
								p Окна, двери, ворота для частного дома, предприятия или завода

							.header-info__address
								b г. Краснодар, ст. Ленинградская, ул. Победы, 92Д
								p (угол улиц Победы и Коммунальной)

							.header-info__time
								b Пн-Пт: 09:00 - 18:00
								p Сб: 10:00 - 18:00, Вс: выходной

							.header-info__mail
								b E-mail:	
								a(href="mailto:oknakpi_len@mail.ru" rel='nofollow') oknakpi_len@mail.ru

							.header-info__phone
								a(href="tel:89618555218" rel='nofollow').header-phone 8 (961) 855 52 18
								a(href="#modal-1").callback.modal-inline 
									span Заказать звонок
									i.fas.fa-phone

							.icon-menu-mobile
								span
								span
								span

				.header__menu 
					.container
						ul.menu 
							li 
								a(href='#' rel='nofollow' target='_blank') о компании
							li 
								a(href='#' rel='nofollow' target='_blank') каталог
							li 
								a(href='#' rel='nofollow' target='_blank') Акции
							li 
								a(href='#' rel='nofollow' target='_blank') Портфолио
							li 
								a(href='#' rel='nofollow' target='_blank') отзывы
							li 
								a(href='#' rel='nofollow' target='_blank') Доставка и оплата
							li 
								a(href='#' rel='nofollow' target='_blank') Статьи и новости
							li 
								a(href='#' rel='nofollow' target='_blank') Контакты
		when 2
			header.header.-position
				.header__top
					.container
						.header-info 
							.block-logo
								a(href='#').logo <span style='color:#eb061e'>строй</span>фаворит
								p Окна, двери, ворота для частного дома, предприятия или завода

							.header-info__address
								b г. Краснодар, ст. Ленинградская, ул. Победы, 92Д
								p (угол улиц Победы и Коммунальной)

							.header-info__time
								b Пн-Пт: 09:00 - 18:00
								p Сб: 10:00 - 18:00, Вс: выходной

							.header-info__mail
								b E-mail:	
								a(href="mailto:oknakpi_len@mail.ru" rel='nofollow') oknakpi_len@mail.ru

							.header-info__phone
								a(href="tel:89618555218" rel='nofollow').header-phone 8 (961) 855 52 18
								a(href="#modal-1").callback.modal-inline 
									span Заказать звонок
									i.fas.fa-phone

							.icon-menu-mobile
								span
								span
								span

				.header__menu 
					.container
						ul.menu 
							li 
								a(href='#' rel='nofollow' target='_blank') о компании
							li 
								a(href='#' rel='nofollow' target='_blank') каталог
							li 
								a(href='#' rel='nofollow' target='_blank') Акции
							li 
								a(href='#' rel='nofollow' target='_blank') Портфолио
							li 
								a(href='#' rel='nofollow' target='_blank') отзывы
							li 
								a(href='#' rel='nofollow' target='_blank') Доставка и оплата
							li 
								a(href='#' rel='nofollow' target='_blank') Статьи и новости
							li 
								a(href='#' rel='nofollow' target='_blank') Контакты

