.image-card
	@media (--desktop-lg)
		&__info
			padding: 20px 15px 10px
		&__info-text
			font-size: 16px
			line-height: 22px
			font-weight: 500
		&__info-data
			margin: 0 0 20px
			span
				&::before
					bottom: -10px
	@media (--desktop)
		&__info
			padding: 5px 10px 10px
		&__info-text
			font-size: 14px
			line-height: 18px
		&__info-data
			margin: 0 0 20px
			span
				font-size: 14px
				line-height: 18px
				&::before
					bottom: -10px

		&.-large &
			&__info-data
				font-size: 16px
				line-height: 24px
				left: 20px
				top: 20px
			&__info-text
				font-size: 18px
				line-height: 24px
				max-width: 480px
				left: 20px
				bottom: 20px

	@media (--desktop-sm)
		&__info
			padding: 5px 15px 15px

	@media (--tablet)

	@media (--mobile)
		&__info
			padding: 2px 7px 7px
		&__info-text
			font-size: 12px
			line-height: 16px
		&__info-data
			margin: 0 0 10px
			span
				font-size: 12px
				line-height: 16px
				&::before
					bottom: -7px
		&.-large &
			&__info-data
				font-size: 14px
				line-height: 18px
				left: 10px
				top: 10px
			&__info-text
				font-size: 15px
				line-height: 20px
				left: 10px
				bottom: 10px