.image-card
	position: relative
	display: block
	color: $text-color
	height: 100%
	background: $white
	border-radius: 8px
	&:hover
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2%)
	img
		width: 100%
		vertical-align: top
	&__info
		position: relative
		padding: 25px 20px 20px
	&__info-text
		font-size: 18px
		line-height: 24px
		font-weight: 500
	&__info-data
		margin: 0 0 30px
		span
			position: relative
			font-size: 16px
			line-height: 24px
			&::before
				content: ''
				display: block
				position: absolute
				width: 100%
				background: $grey
				height: 1px
				bottom: -20px
	&.-large
		&::before
			width: 100%
			height: 35%
			content: ''
			display: block
			position: absolute
			bottom: 0
			left: 0
			border-radius: 8px
			background: linear-gradient(to bottom, transparent, black)
			z-index: 1
		&::after
			width: 100%
			height: 35%
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			border-radius: 8px
			background: linear-gradient(to top, transparent, black)
			z-index: 1
	&.-large &
		&__info
			position: absolute
			border-radius: 8px
			width: 100%
			height: 100%
			left: 0
			top: 0
			background: transparent
			color: $white
			z-index: 2
		&__info-data
			font-size: 16px
			line-height: 24px
			position: absolute
			left: 35px
			top: 35px
		&__info-text
			font-size: 24px
			line-height: 36px
			font-weight: 500
			position: absolute
			max-width: 480px
			left: 35px
			bottom: 35px
