.presentation-card
	@media (--desktop-lg)
		padding: 15px 15px 15px 25px
		max-width: 430px
		&__title
			position: relative
			font-size: 22px
			line-height: 44px
			margin-bottom: 10px
			&::before
				left: -25px
				width: 100px

	@media (--desktop)
		padding: 10px 15px 10px 25px
		max-width: 370px
		&__title
			position: relative
			font-size: 20px
			line-height: 40px
			margin-bottom: 10px
			&::before
				left: -25px
				width: 80px
		&__text
			line-height: 20px

	@media (--desktop-sm)
		max-width: 350px
		&__title
			position: relative
			font-size: 18px
			line-height: 36px
			margin-bottom: 10px
			&::before
				left: -25px
				width: 70px
		&__text
			line-height: 20px
	@media (--tablet)
		max-width: 100%
		width: 100%
		margin: 0 0 20px
		&:last-child
			margin: 0
