.presentation-card
	position: relative
	background: $white
	border-radius: 4px
	padding: 25px 25px 25px 35px
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25)
	max-width: 468px

	&__title
		position: relative
		font-size: 24px
		line-height: 48px
		font-weight: 500
		margin-bottom: 10px
		&::before
			content: ''
			display: block
			position: absolute
			left: -35px
			bottom: 0
			width: 100px
			height: 2px
			background: $red
