.catalog-card
	@media (--desktop-lg)
		padding: 30px 25px
		&__title
			font-size: 24px
			line-height: 48px
			margin: 0 0 20px
			span 
				&::before
					left: -25px
					width: calc( 100% + 25px )

	@media (--desktop)
		padding: 20px 15px
		&__title
			font-size: 22px
			line-height: 28px
			margin: 0 0 20px
			span 
				&::before
					left: -15px
					bottom: -7px
					width: calc( 100% + 15px )
		&__list
			li
				padding-left: 15px
				font-size: 16px
				line-height: 20px
				margin: 0 0 10px
	@media (--desktop-sm)
		&__item
			position: relative
			flex-shrink: 0
			width: 50%
			height: 100%
		&__item-image
			width: 50%

	@media (--tablet)
		&__item
			position: relative
			flex-shrink: 0
			width: 60%
			height: 100%
		&__item-image
			width: 40%

	@media (--tablet-sm)
		&__title
			font-size: 20px
			line-height: 24px

	@media (--mobile)
		height: 200px
		&__item
			position: relative
			flex-shrink: 0
			width: 100%
			height: 100%
		&__item-image
			display: none

		&__title
			font-size: 18px
			line-height: 24px
			margin: 0 0 15px

		&__list
			li
				padding-left: 15px
				font-size: 14px
				line-height: 18px
				margin: 0 0 7px
