.catalog-card
	position: relative
	padding: 30px 35px
	background: $smoky
	width: 100%
	height: 266px
	border-radius: 6px
	overflow: hidden
	display: block
	color: $text-color
	&:hover
		.catalog-card__item-image
			&::before
				background: $red


	&__wrap
		display: flex
		height: 100%
		width: 100%

	&__item
		position: relative
		flex-shrink: 0
		width: 60%
		height: 100%
	&__item-image
		width: 40%
		figure
			width: 100%
			position: absolute
			top: -30px
			height: calc( 100% + 60px )
			z-index: 1
			img
				vertical-align: top
				height: 100%
		&::before
			content: ''
			display: block
			position: absolute
			width: 300px
			height: 300px
			background: $grey_light
			border-radius: 50%
			transition: .3s
			left: 0
			top: 50%
			transform: translate(0, -50%)

	&__title
		position: relative
		font-size: 24px
		line-height: 48px
		font-weight: 500
		text-transform: uppercase
		margin: 0 0 20px
		span 
			display: inline-block
			position: relative
			&::before
				@include line-bottom
				left: -35px
				background: $red
				width: calc( 100% + 35px )

	&__list
		li
			position: relative
			padding-left: 20px
			font-size: 18px
			line-height: 24px
			margin: 0 0 15px
			&::before
				content: ''
				display: block
				position: absolute
				height: 4px
				width: 4px
				border-radius: 50%
				background: #000
				left: 0
				top: 50%
				transform: translate(0, -50%)
