html,
body
	height: 100%

body
	&.overflow
		overflow: hidden
		height: 100%

body,
input,
button,
textarea
	font-family: 'GraphikLCG', sans-serif
	font-size: 16px
	line-height: 1.5
	color: $text-color

input,
button,
textarea
	@include resetInput

input[type=text]::-ms-clear 
	display: none
	width : 0
	height: 0
input[type=text]::-ms-reveal 
	display: none
	width : 0
	height: 0
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
	display: none


button
	cursor: pointer
	&::-moz-focus-inner
		border: 0
		padding: 0

a
	text-decoration: none
	transition: 0.3s

em,
i
	font-style: italic

b,
strong
	font-weight: bold

a.link
	display: inline-block
	color: $red
	text-decoration: underline
	transition: .3s
	&:hover
		color: #0c97cb

h1
	font-family: 'GraphikLCG', sans-serif
	font-size: 48px
	line-height: 54px
	font-weight: 700
	font-style: normal
	@media (--desktop)
		font-size: 42px
		line-height: 48px
	@media (--desktop-sm)
		font-size: 36px
		line-height: 42px
	@media (--tablet)
		font-size: 32px
		line-height: 36px
	@media (--tablet-sm)
		font-size: 28px
		line-height: 32px
	@media (--mobile)
		font-size: 24px
		line-height: 28px
h2
	font-family: 'GraphikLCG', sans-serif
	font-size: 36px
	line-height: 48px
	font-weight: 500
	font-style: normal
	@media (--desktop)
		font-size: 34px
		line-height: 42px
	@media (--desktop-sm)
		font-size: 32px
		line-height: 40px
	@media (--tablet)
		font-size: 28px
		line-height: 36px
	@media (--tablet-sm)
		font-size: 24px
		line-height: 32px
	@media (--mobile)
		font-size: 20px
		line-height: 24px
@-ms-viewport
	width: device-width


html
	box-sizing: border-box
	-ms-overflow-style: scrollbar

*
	box-sizing: inherit
	&::before, &::after
		box-sizing: inherit