.pager
	margin: 10px 0 0
	text-align: center
	font-size: 16px
	font-weight: 600
	display: flex
	align-items: center
	justify-content: center

	a
		display: inline-block
		width: 40px
		height: 30px
		line-height: 30px
		transition: .3s
		color: $text-color
		&:hover
			color: $red

	span.current 
		display: inline-block
		color: $red
		border-radius: 50%
		text-align: center
		width: 40px
		height: 30px
		line-height: 30px

	.prev, .next
		position: relative
		width: 30px
		height: 30px
		border-radius: 50%
		padding: 0
		transition: .5s
		cursor: pointer
		border: none
		outline: none
		background: $white
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35)
		&::after
			content: ''
			display: block
			position: absolute
			width: 6px
			height: 10px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

	.next
		margin-left: 10px
		&::after
			background-image: url('../images/design/arrow.png')
			background-size: cover
			transform: translate(0, -50%) rotate(-180deg)
			margin-left: -2px

	.prev
		margin-right: 10px
		&::after
			background-image: url('../images/design/arrow.png')
			background-size: cover

	.disabled
		cursor: default
		opacity: .5
		transition: .5s

