.header-info
	@media (--desktop)
		&__mail
			display: none
	@media (--desktop-sm)
		justify-content: flex-end
		.block-logo
			margin-right: auto
		&__time, &__address
			display: none
		.icon-menu-mobile
			margin-left: 30px
			display: block
			position: relative
		
	@media (--mobile)
		&__phone
			a.header-phone
				display: none 
			.callback
				display: inline-block
				span
					display: none
				.svg-inline--fa
					display: inline-block
					font-size: 24px
