.header-info
	height: 80px
	position: relative
	display: flex;
	align-items: center
	justify-content: space-between
	font-size: 14px
	line-height: 18px

	.menu
		height: 56px

	a
		transition: .3s

	b
		font-weight: 500

	&__phone
		text-align: right
		a
			display: block
			color: $text-color
			font-weight: 500
			font-size: 16px
			line-height: 21px
			&:hover
				color: $red
		.callback
			color: $red
			font-weight: normal
			font-size: 14px
			text-decoration: underline
			&:hover
				color: $text-color
				text-decoration: none
			.svg-inline--fa
				display: none

	&__mail
		a
			display: block
			color: $text-color
			&:hover
				color: $red
				text-decoration: underline