.about
	@media (--desktop-lg)
		.list
			li
				margin: 0 0 20px

	@media (--desktop)
		&__title
			font-size: 18px
			line-height: 32px
		.list
			li
				margin: 0 0 15px
				font-size: 14px
		&__wrap
			&.-images
				flex-direction: column
		&__content-text
			width: 56%
			font-size: 14px
			line-height: 24px
		&__content-image
			margin: 44px 0 0
			width: 44%
		&__content-list
			width: 100%
		&__block-image
			width: 100%
			flex-wrap: nowrap
			figure
				width: 25%
				padding: 5px
	@media (--desktop-sm)
		&__wrap
			flex-direction: column
		&__block-image
			margin: 20px 0 0
		&__content-text
			width: 100%
		&__content-image
			margin: 15px 0 0
			width: 100%
	@media (--tablet)
		.list
			li
				margin: 0 0 5px
		&__title
			font-size: 18px
			line-height: 28px
			margin: 0 0 10px
		&__block-image, &__content-image
			margin: 10px 0 0

	@media (--tablet)
		&__wrap
			padding: 5px
	@media (--mobile)
		&__block-image
			flex-wrap: wrap
			figure
				width: 50%
