.about
	position: relative

	.list
		li
			margin: 0 0 30px
			&::before
				background: $red

	&__wrap
		background: $white
		display: flex
		padding: 15px
		width: 100%
		align-items: flex-start
		justify-content: flex-start

	&__content
		padding: 15px 10px 10px
		width: 63%
		flex-shrink: 0
		font-size: 16px
		line-height: 26px
		height: auto
		span
			font-weight: 600
	&__content-image
		width: 37%
		height: auto
		overflow: hidden
		img
			width: 100%
			vertical-align: top
			transition: .3s
		&:hover
			img
				transform: scale(1.1)

	&__block-image
		width: 34%
		display: flex
		flex-wrap: wrap
		margin: 40px 0 0
		figure
			width: 50%
			padding: 10px
			overflow: hidden
			img
				width: 100%
				vertical-align: top

	&__title
		font-size: 24px
		line-height: 48px
		font-weight: 500
		margin: 0 0 30px
		position: relative
		padding-left: 25px
		&::after
			@include line-right
