.future
	position: relative
	background: url('../images/components/main/future_bg.jpg') 50% 100% no-repeat
	background-size: cover
	overflow: hidden

	.container
		position: relative

	.flag
		top: -50px
		right: 90px
		z-index: 1

	h2
		max-width: 730px
		margin: 0 0 120px

	&__wrap
		display: flex
		justify-content: space-between
		align-items: flex-end


	.transparent-block
		margin: 0 0 40px

	&__image
		position: absolute
		display: block
		bottom: -90px
		right: -510px
		z-index: 9
		width: 570px
		img
			width: 100%
			vertical-align: top

