.future
	@media (--desktop-lg)
		h2
			max-width: 730px
			margin: 0 0 40px
		.transparent-block
			margin: 0 0 10px
		&__image
			position: absolute
			display: block
			bottom: -60px
			right: -400px
			z-index: 9
			width: 440px
	@media (--desktop)
		h2
			max-width: 100%
		&__image
			display: none
		.transparent-block
			margin: 0 
		.block-form
			width: 100%
		&__item
			position: relative
			max-width: 420px
		.flag
			position: relative
			top: auto
			right: auto
			width: 420px
			border-radius: 8px 8px 0 0
			&::after
				left: 0px
				bottom: -15px
				border-left-width: 210px
				border-right-width: 210px
				border-top: 15px solid $red

		&__wrap
			align-items: center
	@media (--desktop-sm)
		&__wrap
			align-items: center
			flex-direction: column
		.transparent-block
			margin: 0 0 30px
			width: 700px
		.cooperation
			max-width: 100%
		&__item
			position: relative
			max-width: 700px
		.block-form
			border-radius: 0 0 8px 8px 
		.flag
			position: relative
			top: auto
			right: auto
			width: 700px
			border-radius: 8px 8px 0 0
			&::after
				display: none

	@media (--tablet)
		.transparent-block
			margin: 0 0 30px
			width: 100%
		&__item
			position: relative
			max-width: 100%
		.flag
			width: 100%

		@media (--tablet-sm)
