.block-product
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	width: 100%
	height: 100%
	border-radius: 8px
	background: $white
	color: $text-color
	&:hover
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2%)
		img
			transform: scale(1.1)

	&__content
		padding: 20px 25px 20px
		display: flex
		flex-direction: column
		justify-content: space-between
		flex-grow: 1
		flex-shrink: 1

	&__title
		margin: 0 0 20px
		font-size: 20px
		font-weight: 500
		line-height: 24px

	&__info
		margin: 0 0 10px

	&__item-footer
		display: flex
		align-items: center
		justify-content: space-between

	&__price
		font-size: 20px
		font-weight: 500
		line-height: 24px

	&__image
		overflow: hidden
		border-radius: 8px
		img
			width: 100%
			vertical-align: top
			transition: .3s
			display: inline-block
	
