.block-product
	@media (--desktop-lg)
		&__content
			padding: 15px 15px 10px
		&__price
			font-size: 18px
			line-height: 24px
	@media (--desktop)
		&__title
			margin: 0 0 10px
			font-size: 16px
			line-height: 22px
		&__info
			margin: 0 0 10px
			font-size: 14px
			line-height: 18px
		&__price
			font-size: 16px
			line-height: 22px
	@media (--desktop-sm)
		&__title
			margin: 0 0 15px
			font-size: 18px
			line-height: 22px
		&__info
			margin: 0 0 10px
			font-size: 16px
			line-height: 20px
	@media (--mobile)
		&__title
			margin: 0 0 10px
			font-size: 16px
			line-height: 22px
		&__info
			margin: 0 0 10px
			font-size: 14px
			line-height: 18px
		&__price
			font-size: 16px
			line-height: 22px
