.cooperation
	@media (--desktop-lg)
		font-size: 16px
		line-height: 20px
		&__item
			margin: 0 0 50px
	@media (--tablet-sm)
		font-weight: 400
		&__title
			font-size: 18px
			line-height: 24px
			font-weight: 500
			margin: 0 0 15px
		&__item
			margin: 0 0 35px
	@media (--mobile)
		font-size: 14px
		line-height: 18px
		&__title
			font-size: 16px
			line-height: 20px
			font-weight: 500
			margin: 0 0 15px
		&__item
			margin: 0 0 35px
		&__image
			width: 40px
			height: 40px
			z-index: 1
			margin: 0 15px 0 0
