.cooperation
	position: relative
	max-width: 440px
	font-size: 18px
	font-weight: 500
	line-height: 24px

	&__title
		font-size: 20px
		line-height: 28px
		font-weight: 600
		margin: 0 0 20px
		text-transform: uppercase

	&__item
		position: relative
		margin: 0 0 70px
		display: flex
		align-items: center
		&:last-child
			margin: 0


	&__image
		display: block
		width: 80px
		height: 80px
		border-radius: 50%
		overflow: hidden
		z-index: 1
		margin: 0 20px 0 0
		flex-shrink: 0
		img
			width: 100%
			vertical-align: top
